/**
 * layout home-1 / reasons to choose
 *
 */

.reasons-choose-section {
	p:not(.subtitle) {
		margin-bottom: 0.5 * $cx-section-spacing;
	}
	
	@include media-only(notebook, max) {
		.row > div:first-child {
			margin-bottom: $cx-col-spacing;
		}
	}
}

@include media-only(notebook, max) {
	.wrapper-with-right-padding {
		text-align: center;
	}
}