/**
 * Layout home-1/ split section
 *
 */

.split-section {
    position: relative;
    z-index: 10;
	// @extend %mb0;
	// @extend %vpadding;
	@include respond-to(tablet) {
		.image-container {
			> div {
			    display: block;
			    width: 100%;
			    float: none;
			    clear: both;
			}
		}
	}
	.img-left {
		right: 0;
		left: 0;
	    padding: 0;
	    position: absolute;
	    top: 0px;
	    height: 100%;
	    overflow: hidden;
	    z-index: 100;
	}

	.img-right {
		@extend .img-left;
		left: auto;
	}
	.img-wrapper {
		position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;

	}

	@include media-only(notebook, max) {
		.section-heading {
			&.left-aligned {
				h4,
				h2,
				.subtitle {
					text-align: center;
				}

				h4 {
					&::before {
			            background: lighten($cx-text-color, 30%);
			            height: calculateRem(2.5px);
			            margin: 0 9px;
			            position: relative;
			            top: -.2rem;
			            width: calculateRem(32px);
					}
				}
			}
		}

		.tab {
			text-align: center;
			.nav-tabs {
				> li {
					float: none;
					display: inline-block;
				}
			}
		}
	}

	@include media-only(notebook, max) {
		.image-container {
			display: none;
		}
	}
}