/**
 * layout Home-1 / About
 *
 */

.about-section {
	background-image: url("../img/background/counter-up.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

	@extend %overlay;
	&::before {
		@include bcg-linear-gradient(to bottom, #fff, rgba(238, 238, 238, 0.92));
	}

	.default-btn {
		margin-top: 1.1 * $cx-col-spacing;
	}
}