/**
 * Layout home-1/ split section
 *
 */

.split-section {
    position: relative;
    z-index: 10;
	@extend %mb0;
	@extend %vpadding;
	@include respond-to(tablet) {
		.image-container {
			> div {
			    display: block;
			    width: 100%;
			    float: none;
			    clear: both;
			}
		}
	}
	.img-left {
		right: 0;
		left: 0;
	    padding: 0;
	    position: absolute;
	    top: 0px;
	    height: 100%;
	    overflow: hidden;
	    z-index: 100;
	}

	.img-right {
		@extend .img-left;
		left: auto;
	}
	.img-wrapper {
		position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
		background-image: url(../img/slider/home-3/slide-1.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	}

	@include media-only(768px, max) {
		padding-top: $cx-col-spacing;
		padding-bottom: $cx-col-spacing;
	}
}