html,
body {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	margin-bottom: $cx-section-spacing;
	display: block;
	width: 100%;
	float: none;
	clear: both;
	@include respond-to(mobile) {
		margin-bottom: $cx-section-spacing-mob;
	}
}

.vbox-open {
	overflow-y: scroll;
}

.vbox-container {
	overflow-y: hidden;
}

.main-content-wrapper {
	overflow-x: hidden;
}

.lead {
	font-size: calculateRem(18px);
}

.whole-wrapper {
	@extend %clearfix;
}

#primary,
#secondary {
	margin-bottom: $cx-section-spacing;
	@include respond-to(mobile) {
		margin-bottom: $cx-section-spacing-mob;
	}
}

.pswp button:hover {
	background-color: inherit;
}

.pswp__caption__center {
	text-align: center;
	i,
	p {
		display: none;
	}

	.primary-title {
		display: inline-block;
		text-align: center;
		text-transform: capitalize;
		margin: 0;
		padding: 0;
	    font-size: calculateRem(13px);
	    font-weight: normal;
	    @extend %color-white;

		a {
			@extend %color-white;

		}
	}
}

// hide an element

.visually-hidden {
	@extend %visuallyhidden;
}

// global notice

.browserupgrade {
	padding: 50px;
	background: #dedede;
	font-size: calculateRem(20.5px);
	text-align: center;
}

// Border classes

.rb-bordered {
	@extend %cx-right-bottom-border;
}

.tr-bordered {
	@extend %cx-top-right-border;
}

.bl-bordered {
	@extend %cx-bottom-left-border;
}

.lt-bordered {
	@extend %cx-left-top-border;
}

.top-bordered {
	@extend %cx-top-border;
}

.right-bordered {
	@extend %cx-right-border;
}

.bottom-bordered {
	@extend %cx-bottom-border;
}

.left-bordered {
	@extend %cx-left-border;
}

.border-offset {
	border-color: $cx-offset-color;
}

.border-text {
	border-color: $cx-text-color;
}


//section zero margin & padding

.vmargin {
	@extend %vmargin;
}

.mb0 {
	@extend %mb0;
}

.pb0 {
	@extend %pb0;
}

.mt0 {
	@extend %mt0;
}

.pt0 {
	@extend %pt0;
}

.nomargin {
	@extend %margin-0;
}

// full margin & padding 

.vpadding {
	@extend %vpadding;
}

.nopadding {
	@extend %padding-0;
}

.mt-full {
	@extend %mt-full;
}

.mb-full {
	@extend %mb-full;
}

.pt-full {
	@extend %pt-full;
}

.pb-full {
	@extend %pb-full;
}

// half padding & margin

.mt-half {
	@extend %mt-half;
}

.mb-half {
	@extend %mb-half;
}

.pt-half {
	@extend %pt-half;
}

.pb-half {
	@extend %pb-half;
}

// Section with padding 

.wrapper-with-right-padding {
	padding-right: $cx-heading-margin-bottom;
	@include media-only(notebook, max) {
		padding-right: 0;
	}
}

.wrapper-with-left-padding {
	padding-left: $cx-heading-margin-bottom;
	@include media-only(notebook, max) {
		padding-left: 0;
	}
}

// Background Colors

.bgc-primary {
	@extend %bgc-primary;
}

.bgc-secondary {
	@extend %bgc-secondary;
}

.bgc-tertiary {
	@extend %bgc-tertiary;
}

.bgc-fourth {
	@extend %bgc-fourth;
}

.bgc-transparent {
	@extend %bgc-transparent;
}

.bgc-offset {
	@extend %bgc-offset;
}

.bgc-grey {
	@extend %bgc-grey;
}

.bgc-white {
	@extend %bgc-white;
}

.bgc-tertiary-textured {
	background-color: rgba($cx-tertiary-color, 0.98);
	@include cx-background('../img/cta/cta-bg-1.png');
}


// color

.color-primary {
	@extend %color-primary;
}

.color-secondary {
	@extend %color-secondary;
}

.color-tertiary {
	@extend %color-tertiary;
}

.color-fourth {
	@extend %color-fourth;
}

.color-transparent {
	@extend %color-transparent;
}

.color-offset {
	@extend %color-offset;
}

.color-white {
	@extend %color-white;
}

// Border-colors 

$border-colors: ($cx-primary-color, $twitter-color, $gplus-color, $cx-secondary-color, $linkedin-color, $youtube-color);
$border-colors-count: length($border-colors);

@for $i from 1 to $border-colors-count + 1 {
	.border-color-#{$i} {
		border-color: lighten(nth($border-colors, $i), 10%);
	}
}

// Social Media Colors

.bg-facebook {
	background: $facebook-color;
	&:hover {
		background: darken($facebook-color, 10%);
	}
}

.bg-twitter {
	background: $twitter-color;
	&:hover {
		background: darken($twitter-color, 10%);
	}
}

.bg-gplus {
	background: $gplus-color;
	&:hover {
		background: darken($gplus-color, 10%);
	}
}

.bg-pinterest {
	background: $pinterest-color;
	&:hover {
		background: darken($pinterest-color, 10%);
	}
}

.bg-linkedin {
	background: $linkedin-color;
	&:hover {
		background: darken($linkedin-color, 10%);
	}
}

.bg-instagram {
	background: $instagram-color;
	&:hover {
		background: darken($instagram-color, 10%);
	}
}

.bg-skype {
	background: $skype-color;
	&:hover {
		background: darken($skype-color, 10%);
	}
}

.bg-youtube {
	background: $youtube-color;
	&:hover {
		background: darken($youtube-color, 10%);
	}
}

.bg-reddit {
	background: $reddit-color;
	&:hover {
		background: darken($reddit-color, 10%);
	}
}


// overlay

.section-overlay {
	opacity: 0.9;
	@include abs-position(0, 0, 0, 0);
    @include bcg-linear-gradient(110deg, $cx-primary-color, $cx-secondary-color);
}

.video-section-overlay {
	opacity: 0.7;
	@include abs-position(0, 0, 0, 0);
    @include bcg-linear-gradient(110deg, darken($cx-tertiary-color, 10%), darken($cx-tertiary-color, 10%));
}

.page-title-overlay,
.particle-section-overlay {
	opacity: 0.7;
	@include abs-position(0, 0, 0, 0);
    @include bcg-linear-gradient(110deg, darken(#000, 10%), darken($cx-tertiary-color, 10%));
}

.default-overlay {
	@include cx-overlay(rgba(#000, 0.45));
}

// Flex\

.flex-eq-height {
	@include media-only(notebook, min) {
		@include cx-prefix('display', 'flex');
		@include cx-prefix('flex-wrap', 'wrap');
	}
}

// shadow

.bt-shadow {
    @include cx-box-shadow('0 27px 60px -25px rgba(0, 0, 0, 0.3)');
}

.spreaded-shadow {
	@include cx-box-shadow('0 60px 135px rgba(0,0,0,0.15), 0 15px 65px rgba(0,0,0,0.15);');
}

// tilt

.tilt-element {
	@include cx-prefix('transform-style', 'preserve-3d');
}

.tilt-child {
	@include cx-prefix('transform', 'translateZ(30px)');
}

// Border-radius

.rounded-corners {
	@extend %rounded-corners;
}

.circle {
	@include border-radius(50%);
}

// equal height by display: table

.eqheight {
	@extend %eqheight;
}


// Overflow

.overflow-hidden {
	@extend %overflow-hidden;
}

// Icon style

.icon-check {
	i {
		font-size: calculateRem(13px);
		padding: 3px;
		margin-right: 15px;
		color: $cx-secondary-color;
		border: 2px solid $cx-secondary-color;
		@include border-radius(50%);
	}
}

// Flip 3d effect 

.flip-effect {
    @include cx-prefix('transform', 'translateZ(30px)');
}