/**
 * Layout footer/ footer
 *
 */

#colophon {
	.footer-top {
	    z-index: 1;
	    position: relative;
	}
	nav {
	    float: right;
	    width: calc(100% - 200px);
	    font-weight: 700;
	    font-size: 12px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    text-align: right;
	    padding-top: 7px;
		li {
		    list-style: none;
		    text-align: right;
		    max-width: 150px;
		    display: inline-block;
		    margin-left: 3%;
		    @extend %cx-transition;
	    	&:first-of-type {
				margin-left: 0;
			}
			@include respond-to(mobile) {
			    width: 100%;
			    margin: 0 0 10px!important;
			}
			@include respond-to(small-mobile) {
				width: 100%;
				max-width: 100%;
				text-align: center;
			}
		}
		@include respond-to(mobile) {
		    text-align: right;
		    width: 150px;
		    margin-top: 0;
		}

		@include respond-to(small-mobile) {
			width: 100%;
			ul {
				padding-left: 0;
			}
		}

		ul {
			&:hover {
				li {
					opacity: 0.5;
				}
			}

			li {
				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.contact {
		a {
			&.footer-logo {
				display: inline-block;
			    font-size: 2em;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    margin-bottom: 25px;
			    line-height: 1em;
			}
		}
		p {
			margin-bottom: 40px;
		    max-width: 40%;
		    @include respond-to(mobile) {
				max-width: 55%;
		    }
		    @include respond-to(small-mobile) {
				max-width: 100%;
		    }
		}
		.actions {
			float: left;
			.default-btn {
		        padding: 9px 25px;
			    min-width: 160px;
			    &:first-of-type {
			    	margin-right: -5px;
					@include respond-to(small-mobile) {
						margin-right: 0;
					}
			    }
			    @include respond-to(tablet) {
			    	padding: 9px 15px;
			    	min-width: 135px;
			    }
				@include respond-to(mobile) {
				    margin-bottom: $cx-heading-margin-bottom;
				}
				@include respond-to(small-mobile) {
					margin-bottom: 15px;
				}
			}
		}
		.socials {
			float: right;
			a {
				width: 38px;
				height: 38px;
				margin-right: 7px;
				&:last-child {
					margin-right: 0;
				}
				i {
					line-height: 38px;
				}
			}
			@include respond-to(mobile) {
				width: 100%;
			}
			@include respond-to(small-mobile) {
				width: auto;
			}
		}
		.actions,
		.socials {
			@include respond-to(mobile) {
			    display: inline-block;
			    float: none;
			}
		}
		.actions {
			@include respond-to(small-mobile) {
				display: block;
				margin-bottom: 10px;
			}
		}
		@include respond-to(small-mobile) {
			text-align: center;
		}
	}

	&.footer-dark {
		@extend %bgc-tertiary;

		h4,
		p {
			@extend %color-offset;
		}

		p {
			font-weight: 300;
		}

		h4 {
		    font-size: 1em;
		    color: lighten($cx-text-color, 100%);
		    text-transform: uppercase;
		    letter-spacing: 0.5px;
		    font-weight: 600;

		    &::after {
	            content: '';
	            width: calculateRem(32px);
	            background: lighten($cx-text-color, 40%);
	            height: calculateRem(2px);
	            margin: 0 9px;
	            display: inline-block;
	            position: relative;
	            top: -.3rem;
		    }
		}

        a {
            @extend %color-offset;
            &:focus,
            &:hover {
                color: $cx-secondary-color;
            }
        }

        nav {
        	a {
        		&:hover {
        			@extend %color-offset;
        		}
        	}
        }

		.actions {
			.default-btn {
                border-color: darken($cx-offset-color, 8%);
                color: darken($cx-offset-color, 8%);
                &:focus,
                &:hover {
                	color: darken($cx-offset-color, 8%);
                    border-color: $cx-secondary-color;
                    &::before {
                        background: $cx-secondary-color;
                    }
                }
			}
		}

		.socials {
			a {
                border-color: darken($cx-offset-color, 8%);
                color: darken($cx-offset-color, 8%);
                &:focus,
                &:hover {
                	color: darken($cx-offset-color, 8%);
                    border-color: $cx-secondary-color;
                    background: $cx-secondary-color;
                }
			}
		}

		.recent-posts-single {
			.post-brief {
				p {
					color: darken($cx-offset-color, 25%);
				}
			}
		}
	}

	&.type-2 {
		.footer-top {
			padding-top: 0.8 * $cx-section-spacing;
			padding-bottom: 0.77 * $cx-section-spacing;
		}

		.widget-container {
			@extend %mb-half;
			.recent-posts-single {
				&:first-of-type {
					@extend %pt0;
				}
			}
		}

		.widget-title {
			@extend %mb-half;
		}

		.socials {
			a {
				margin-right: 10px;
				@include box(40px);
				@include border-radius(50%);
				i {
					line-height: 40px;
				}
			}
		}

		@include media-only(768px, min) {
			div[class^='col'] {
				.widget-container {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&.type-3 {
		.footer-top {
			@extend %pt-half;
			@extend %pb-half;
		}
		.footer-logo {
			margin-bottom: 0.8 * $cx-heading-margin-bottom;
		}
		.footer-socials {
			display: inline-block;

			.socials {
				overflow: initial;
			}

			a {
				margin-left: 7px;
				margin-right: 7px;
				@include border-radius(50%);
				@include box(40px);
				i {
					line-height: 40px;
				}

				&:hover {
			    	@include transform-translateY(-4px);
			    	@extend .spreaded-shadow;
				}
			}
		}

		.footer-newsletter {
			margin-top: 1.8 * $cx-heading-margin-bottom;

			form {
				@extend %vhcenter;
			}

			h6 {
			    color: lighten($cx-text-color, 100%);
			    font-weight: 400;
			}

			input {
				@extend .rounded-corners;
			}

			input[type="email"] {
				color: lighten($cx-text-color, 30%);
				min-width: 400px;
			    background: transparent;
			    margin: 0;
			}

			input[type="submit"] {
				margin-left: -5px;
				@include cx-prefix('border-top-left-radius', '0');
				@include cx-prefix('border-bottom-left-radius', '0');
			}
		}
	}
}

.copyright-section {
	position: relative;
	text-align: center;
    padding: 0.9 * $cx-heading-margin-bottom;
    background: $cx-tertiary-color;
    p{
    	margin: 0;
    	color: lighten($cx-text-color, 100%);
    }

    a {
    	color: lighten($cx-secondary-color, 10%);
    }

    .list-inline {
    	li {
    		position: relative;
    		padding-right: 10px;
    		padding-left: 10px;
    		&::after {
    			position: absolute;
    			content: "|";
    			right: -5px;
    		}

	    	&:last-child {
	    		padding-right: 0;
	    		&::after {
	    			content: none;
	    		}
	    	}
    	}
    }
}


.fixed-footer {
    position: fixed;
    bottom: 1px;
    width: 100%;
    z-index: -1;

    @include media-only(tablet, max) {
        position: relative;
        z-index: 1;
    }
}

.footer-dark {
	.copyright-section {
		background: darken($cx-tertiary-color, 10%);
	    a,
	    p {
	        font-weight: 300;
	    }
	    p{
	        margin: 0;
	        color: lighten($cx-text-color, 100%);
	    }

	    a {
	        color: lighten($cx-secondary-color, 10%);
	    }
	}
}