/**
 * Layout footer/ footer
 *
 */

#colophon {
	nav {
	    float: right;
	    width: calc(100% - 200px);
	    font-weight: 700;
	    font-size: 12px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    text-align: right;
		li {
		    list-style: none;
		    text-align: right;
		    max-width: 150px;
		    display: inline-block;
		    margin-left: 3%;
	    	&:first-of-type {
				margin-left: 0;
			}
			@include respond-to(mobile) {
			    width: 100%;
			    margin: 0 0 10px!important;
			}
			@include respond-to(small-mobile) {
				width: 100%;
				max-width: 100%;
				text-align: center;
			}
		}
		@include respond-to(mobile) {
		    text-align: right;
		    width: 150px;
		    margin-top: 0;
		}

		@include respond-to(small-mobile) {
			width: 100%;
			ul {
				padding-left: 0;
			}
		}
	}

	.contact {
		a {
			&.footer-logo {
				display: inline-block;
			    font-size: 2em;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    margin-bottom: 25px;
			}
		}
		p {
			margin-bottom: 40px;
		    max-width: 40%;
		    @include respond-to(mobile) {
				max-width: 55%;
		    }
		    @include respond-to(small-mobile) {
				max-width: 100%;
		    }
		}
		.actions {
			float: left;
			.default-btn {
		        padding: 9px 25px;
			    min-width: 160px;
			    &:first-of-type {
			    	margin-right: -5px;
			    }
			    @include respond-to(tablet) {
			    	padding: 9px 15px;
			    	min-width: 135px;
			    }
				@include respond-to(mobile) {
				    margin-bottom: $cx-heading-margin-bottom;
				}
			}
		}
		.socials {
			float: right;
			a {
				width: 38px;
				height: 38px;
				margin-right: 7px;
				&:last-child {
					margin-right: 0;
				}
				i {
					line-height: 38px;
				}
			}
		}
		.actions,
		.socials {
			@include respond-to(mobile) {
			    display: inline-block;
			    float: none;
			}
		}
		@include respond-to(small-mobile) {
			text-align: center;
		}
	}
}

.copyright-section {
	position:relative;
	text-align: center;
    padding: 20px 15px;
    background: $cx-text-color;
    p{
    	margin: 0;
    	color: lighten($cx-text-color, 100%);
    }

    a {
    	color: lighten($cx-secondary-color, 10%);
    }
}