/**
 * layout page-title/ page-title
 *
 */

.page-title-section {
	position: relative;
	@extend %vpadding;
	@extend %color-white;

	.page-title-container,
	.breadcrumb-container {
		position: relative;
		z-index: 1;
	}
	.page-title-heading {
		text-transform: capitalize;
		font-weight: 600;
		margin-bottom: 5px;
		min-width: 75%;

		span {
			color: $cx-secondary-color;
		}

		@include media-only(small-mobile, max) {
			font-size: calculateRem(28px);
		}
	}

	.page-subtitle {
		font-size: calculateRem(22px);
		min-width: 80%;
		font-weight: 300;
		@extend %mb0;
	}

	.breadcrumb {
		font-size: calculateRem(14px);
		@extend %bgc-transparent;
		@extend %mb0;

		i {
			padding-right: 10px;
		}

		a {
			@extend %color-white;

			&:hover {
				color: $cx-secondary-color;
			}
		}

		.active {
			@extend %color-offset;

			&::before {
				content: "\f105";
				font-family: FontAwesome;
			    padding: 0 8px 0 5px;
			}
		}

		li {
			+ li {
				&::before {
					content: "\f105";
					font-family: FontAwesome;
				    padding: 0 8px 0 5px;
				}
			}
		}
	}

	&.modern {
		top: -101px;
		margin-bottom: -101px;
		padding: 200px 0 150px;
		text-align: center;
		overflow: hidden;
		@extend %color-white;
		@extend %bgc-white;

		@include media-only(tablet, max) {
		    padding: 160px 0 110px;
		}

		&::before,
		&::after {
		    width: 50%;
		    height: 60px;
		    background: lighten($cx-text-color, 100%);
		    @include abs-position(auto, auto, 0, 50%);
		    @include cx-prefix('transform', 'skew(-77deg)');
		    @include cx-prefix('transform-origin', '0 100%');
		    z-index: 1;
		}

		&::after {
		    left: auto;
		    right: 50%;
		    background: lighten($cx-text-color, 100%);
		    @include cx-prefix('transform', 'skew(77deg)');
		    @include cx-prefix('transform-origin', '100% 100%');
		}

		.page-title-container {
			margin-bottom: $cx-section-spacing;
			@include respond-to(mobile) {
				margin-bottom: $cx-section-spacing-mob;
			}
			@include media-only(small-mobile, max) {
				margin-bottom: $cx-col-spacing-mob;
			}
		}

		.page-title-heading {
			font-size: calculateRem(50px);
			text-transform: uppercase;
			font-weight: 500;
			@include push-center;
			@include respond-to(tablet) {
				font-size: calculateRem(40px);
			}

			@include respond-to(mobile) {
				font-size: calculateRem(32px);
			}

			@include media-only(small-mobile, max) {
				font-size: calculateRem(28px);
			}
		}

		.page-subtitle {
			font-size: calculateRem(24px);
			font-weight: 300;
			@include push-center;

			@include respond-to(mobile) {
				font-size: calculateRem(20px);
			}
		}
	}

	&.left-aligned {
		.page-title-wrapper {
			@include eqheight;
			@include respond-to(mobile) {
				text-align: center;
			}
		}

		.breadcrumb {
			text-align: right;
			padding-right: 0;
			@include respond-to(mobile) {
				text-align: center;
			    padding-left: 0;
			    margin-top: 0.33 * $cx-section-spacing;
			}
		}
	}
}