/**
 * layout testimonial/ testimonial
 *
 */

.testimonial-simple {
	.testimonial-simple-wrapper {
		padding: 50px 20px;
		@include respond-to(mobile) {
			text-align: center;
			border-bottom: 1px solid $cx-border-color;
		}
	}

	.testimonial-simple-container {
		overflow: hidden;
		background: rgba(255,255,255,0.92);
		@extend %mb0;
		.row {
			@include eqheight;
			& > div {
				vertical-align: top;
				@include respond-to(mobile) {
					border:0;
				}
			} 
		}
	}
}