/**
 * Layout About/ About
 *
 */

.page-about {
	@include cx-background('../img/page-titles/about-page-title.jpg');
}

.bgc-about {
	@include cx-background('../img/page-titles/blog.jpg');
}

.cta-section {
	&.cta-about {
		@include cx-background('../img/background/counter-up.jpg');
		@include cx-overlay(rgba(#000, 0.6));
		&.cta-split {
			@extend %vpadding;

			h2,
			p {
				@extend %color-white;
			}

			.cta-content {
				border-left: 8px solid $cx-primary-color;
				@include media-only(notebook, max) {
					border-left: 0;
				}
			}
		}
	}
}

.testimonial-section {
	&.testimonial-about {
		@include cx-background('../img/background/counter-up.jpg');
		
		@include respond-to(mobile) {
			.testimonial-container {
				margin-bottom: 1.7 * $cx-col-spacing;
			}

			.carousel-arrow {
				bottom: -76px;
			}
		}
	}
}

.fun-facts-section {
	&.facts-about {
		@include cx-background('../img/background/counter-up.jpg');
		@include cx-overlay(rgba($cx-primary-color, 0.92));
		.counter-item {
			&.type-3 {
				width: 20%;
				float: left;
				@include respond-to(mobile) {
					width: 100%;
				}
			}
		}
	}
}

.testimonial-simple {
	&.testimonial-about {
		@include cx-overlay(rgba(0,0,0,.5));
		@include cx-background("../img/slider/home-1/slide-2.jpg");
	}
}

.cta-section {
	&.cta-about {
		@include cx-background("../img/slider/home-1/slide-2.jpg");
		@include cx-overlay(rgba(0, 0, 0, 0.65));
	}
}

.client-list {
	&.client-about {
		margin-bottom: -25px;
	}
}