/**
 * layout Services/ Services
 *
 */

.page-service {
	@include cx-background('../img/page-titles/services-page-title.jpg');
}

.page-service-2 {
	@include cx-background('../img/page-titles/services-page-title-2.jpg');
}

.our-features{
	&.bcg-service {
		@include cx-background('../img/page-titles/contact-bg-1.jpg');
	}

	.simple-slider-wrapper {
		@extend %mb-half;
	}
}

.feature-title-wrapper {
	padding: 30px 15px;
    background: rgba(0, 0, 0, 0.5);
	p {
		text-align: center;
		@extend %color-white;
		@extend %mb0;
	}

	h4 {
		text-align: center;
		margin-bottom: 0.5 * $cx-heading-margin-bottom;
		@extend %color-secondary;
	}

	@include media-only(notebook, max) {
		margin-top: - $cx-col-spacing;
	}

	@include respond-to(mobile) {
		margin-bottom: $cx-col-spacing-mob;
	}
}

.cta-section {
	&.cta-service {
		@include cx-background('../img/page-titles/contact-bg-1.jpg');
		@extend %overlay;
	}
}

.service-section {
	&.service-list {
		.info-item {
			@include cx-box-shadow(none);

			&:hover {
				border-color: $cx-secondary-color;
			}
		}
	}
}

.about-section {
	&.about-service {
		@include cx-background('../img/page-titles/contact-bg-1.jpg');
	}
}

.cta-split {
	&.split-cta-service {
		@extend %vpadding;
		@include cx-background('../img/background/testimonial.jpg');
		@extend %overlay;
	}
}

.testimonials-section {
	&.service-testimonial {
		@include cx-background('../img/page-titles/contact-bg-2.jpg');
	}
}

.service-types {
	.info-item {
		&.flip-card {
			.front,
			.back {
				@include respond-to(mobile) {
					display: table;
					> div {
						display: table-cell;
					}
				}
				@include media-only(small-mobile, max) {
					padding: 20px;
				}
			}
		}
	}
}