/**
 * layout services/ service promo
 *
 */

.service-promo {
	@extend %vpadding;
	h2 {
		text-transform: uppercase;
		font-weight:bold;
	}
	.focused-text {
		font-size: 2em;
		line-height: 1.2em;
		@extend %mb0;
	}

	.col-sm-8 {
		p:last-child {
			@extend %mb0;
		}
	}

	.lead {
		font-weight: normal;
	}

	.icon-check {
		list-style: none;
		padding: 0;
		margin: 0;

		> li {
			margin-bottom: 5px;

			&:last-child {
				@extend %mb0;
			}
		}
	}

	.white-text {
		p,
		li {
			@extend %color-white;
		}
	}
}