/**
 * layout Cta/ Cta
 *
 */

.cta-section {
	&.has-bg {
		@include cx-background("../img/slider/home-1/slide-2.jpg");
		@include cx-overlay(rgba(0, 0, 0, 0.65));
		color: lighten($cx-text-color, 100%);
	}

	&.cta-split {
		padding-top: 1.5 * $cx-col-spacing;
		padding-bottom: 1.5 * $cx-col-spacing;
		.row {
			@include eqheight;
		}

		.cta-content {
			@include respond-to(mobile) {
				margin-bottom: $cx-col-spacing-mob;
				text-align: center;
			}
		}

		h2,
		p {
			color: $cx-text-color;
			margin-bottom: 0;
		}

		h2 {
			font-size: 2rem;
			margin-bottom: 10px;
			@include respond-to(mobile) {
				font-size: 1.7rem;
			}
			@include media-only(small-mobile, max) {
				font-size: 1.3rem;
			}
		}

		&.has-bg {
			background-image: url("../img/cta/cta-bg-1.png");
			background-repeat: repeat;
			background-color: rgba(darken($cx-tertiary-color, 20%), 0.8);
			h2,
			p {
				@extend %color-offset;
			}
			&::before {
				content: none;
			}

		}

		.cta-action {
			text-align: right;
			.fancy-btn {
				margin-right: -30px;
			}

			.default-btn {
				margin-right: -30px;
			}

			@include respond-to(mobile) {
				text-align: center;
				.default-btn {
					margin-right: 0;
				}
				.fancy-btn {
					margin-right: 0;
				}
			}
		}

		&.white-text {
			h2,
			p {
				@extend %color-white;
			}
		}
	}

	&.type-2 {
		@include cx-background('../img/background/counter-up.jpg');
		@extend %overlay;
		&::before {
			@include bcg-linear-gradient(to bottom right, rgba($cx-secondary-color, 0.95), rgba($cx-primary-color, 0.95));
		}

		.cta-content-wrapper {
			@extend %vhcenter;
			padding: 0.67 * $cx-section-spacing;
			@extend %bgc-white;
			@include respond-to(mobile) {
				display: block;
				text-align: center;
				padding: 0.33 * $cx-section-spacing;
			}

			i {
				font-size: 50px;
			    margin-right: 2 * $cx-heading-margin-bottom;
			    @extend %color-secondary;
			    @include respond-to(tablet) {
			    	display: none;
			    }
			    @include respond-to(mobile) {
			    	margin-right: 0;
			    }
			    @include media-only(small-mobile, max) {
					font-size: 30px;
			    }
			}

			.cta-content {
				padding-right: 50px;
				min-width: 460px;

				p {
					&:last-of-type {
						@extend %mb0;
					}
				}

				@include respond-to(mobile) {
					display: block;
				    min-width: auto;
				    padding-right: 0;
				    margin-top: 30px;
				    margin-bottom: 30px;
				}
			    @include media-only(small-mobile, max) {
				    margin-top: 15px;
				    margin-bottom: 25px;
			    }
			}

			h2 {
				font-weight: 400;
				@extend %color-secondary;
				@include media-only(small-mobile, max) {
					font-size: 1.5rem;
					margin-bottom: 15px;
				}
			}
		}
	}
}