/**
 * layout cta/ cta
 *
 */

.cta-section {
	@extend %mb0;
	&.has-bg {
		@include cx-background("../img/slider/home-1/slide-2.jpg");
		@include cx-overlay(rgba(0, 0, 0, 0.65));
		color: lighten($cx-text-color, 100%);
		h1, h2, h3, h4, h5, h6 {
			font-size: 2.3 * $cx-body-font-size;
			color: lighten($cx-text-color, 100%);
			text-transform: capitalize;
			font-weight: 600;
			@include respond-to(tablet) {
				font-size: 2 * $cx-body-font-size;
			}
		}
	}

	&.cta-split {
		padding-top: $cx-col-spacing;
		padding-bottom: $cx-col-spacing;
		.row {
			@include eqheight;
		}

		h2,
		p {
			color: $cx-text-color;
			margin-bottom: 0;
		}

		h2 {
			font-size: 2em;
			margin-bottom: 10px;
		}

		&.has-bg {
			background-image: url("../img/cta/cta-bg-1.png");
			background-repeat: repeat;
			@extend %bgc-white;
			&::before {
				content: none;
			}

		}

		.cta-action {
			text-align: right;
			.fancy-btn {
				margin-right: -30px;
			}
		}
	}
}