/**
 * layout Home-3/ Video-section
 *
 */

.background-video-section {

	@include cx-background('../img/slider/home-2/video-poster.jpg');

	.video-container {
		min-height: 450px;
		@include cx-overlay(rgba(#000, 0.75));
		@include respond-to(mobile) {
			min-height: 350px;
		}
	}

	.video-content-wrapper {
		@include cx-centered(both);

		h2 {
			font-size: 2.3 * $cx-body-font-size;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: $cx-secondary-color;
		}

		p {
			font-size: calculateRem(20px);
			font-weight: 300;
			@extend %mb-half;
			@extend %color-white;
		}

		@include respond-to(mobile) {
			width: 100%;
			h2 {
				font-size: 1.8 * $cx-body-font-size;
			}
			p {
				font-size: calculateRem(18px);
			}
		}

		@include media-only(small-mobile, max) {
			h2,
			p {
				margin-bottom: 20px;
			}
			h2 {
				font-size: 1.2rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}