/**
 * Layout Header/ Socials
 *
 */

.header-socials {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	li {
		display: inline-block;
		a {
			display: block;
			color: lighten($cx-text-color, 100%);
			font-size: 14px;
			line-height: 22px;
			padding: 39px 10px;
			padding-bottom: 25px;
			&:hover {
				color: lighten($cx-text-color, 50%);
			}
		}

		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
}


.intelligent-header {
    &.scrolling-up {
        .header-socials {
            li {
                &.header-search {
                	a {
	                    padding-top: 26px;
	                    padding-bottom: 26px;
                	}

                }
                > a {
                    padding-top: 26px;
                    padding-bottom: 26px;
                }
            }
        }
    }
}