/**
 * Layout header/ socials
 *
 */

.header-socials {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	li {
		display: inline-block;
		a {
			display: block;
			color: #fff;
			font-size: 14px;
			line-height: 22px;
			padding: 39px 10px;
			padding-bottom: 25px;
			&:hover {
				color: lighten($cx-text-color, 50%);
			}

       //      @include respond-to(notebook) {
			    // padding-left: 6px;
			    // padding-right: 6px;
       //      }
		}
		// &.header-search {
		// 	a {
		// 		padding-right: 20px;

  //               @include respond-to(notebook) {
		// 		    padding-right: inherit;
  //               }
		// 	}
		// }

		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
}


.intelligent-header {
    &.scrolling-up {
        .header-socials {
            li {
                &.header-search {
                	a {
	                    padding-top: 26px;
	                    padding-bottom: 26px;
                	}

                }
                > a {
                    padding-top: 26px;
                    padding-bottom: 26px;
         //            @include respond-to(notebook) {
					    // padding-left: 6px;
					    // padding-right: 6px;
         //            }
                }
            }
        }
    }
}