/**
 * Layout Header/ Header-top
 *
 */
 
.header-top{
	padding:7px 0;
	font-size: calculateRem(12px);
	background: darken($cx-tertiary-color, 10%);
	color: lighten($cx-text-color, 100%);

	.social-icon {
		@include respond-to(mobile) {
			text-align: center;
			margin-bottom: 10px;
		} 
		a {
			background: transparent;
			border: none;
			color: lighten($cx-text-color, 100%);
			@include respond-to(mobile) {
				float: none;
			}
			&:hover {
				color: $cx-secondary-color;
			}

		}
	}

	@include respond-to(mobile) {
		display: none;
	}
}


.top-content{
	line-height: $cx-social-icon-size-small;
	&.text-right{
		@include respond-to(mobile) {
			text-align: center;
		} 
	}
	.bar{
		margin:0 10px;
		color: darken($cx-offset-color, 20%);
	}

	a{
		color: lighten($cx-text-color, 100%);	
		font-size: calculateRem(13px);
		letter-spacing: 0.7px;
		@extend %cx-transition ;
		&:hover{
			color: $cx-secondary-color ;
		}

		i {
			margin-right: 8px;
		}
	}
}


