/**
 * Layout header/ header
 *
 */
 
.logo {
	a {
		display: block;
		width: 100%;
	}
	img {
		height: 100px;
		@extend %cx-transition;
	}
}

.header-wrapper {
	position: relative;
}

.mobile-menu-button{
	overflow:hidden ;
	@include media-only(notebook, max) {
		margin-top: 11px;
	}

	@include media-only(tablet, max) {
		margin-top: 9px;
	}
	.icon-bar{
		@extend %bgc-white;
	}
}