/**
 * Layout Header/ Main-menu
 *
 */
 
#main-nav {
    ul {
        text-align: right;
    }
    li {
        & > a:not(.dd-toggle) {
            display: block;
            line-height: 22px;
            padding: 39px 11px;
            font-weight: 700;
            font-size: calculateRem(13.2px);
            letter-spacing: 1px;
            text-transform: uppercase;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            color: lighten($cx-text-color, 100%);
            padding-bottom: $cx-heading-margin-bottom;
            &:hover {
                color: lighten($cx-text-color, 50%);
            }
            @include respond-to(notebook) {
                padding: 39px 13px;
            }
            @include respond-to(tablet) {
                padding: 39px 4px;
                font-size: 12px;
                letter-spacing: 0;
            }
        }
        &.has-sub {
            > a {
                &::after {
                    content: "\f107";
                    font-weight: normal;
                    margin-left: 8px;
                }
            }
        }
        &:last-child {
            a {
                padding-right: 0;
            }
        }
    }

    .sub-menu {
        border: 1px solid;
        border-top: 2px solid $cx-primary-color;
        border-color: $cx-primary-color lighten(rgb(0, 0, 0), 15%) lighten(rgb(0, 0, 0), 15%);
        // background: $cx-tertiary-color;
        @extend %bgc-tertiary;
        li {
            > a {
                padding: 9px 15px;
                text-shadow: none;
                text-align: left;
                font-size: 12px;
                color: darken($cx-body-bg-color, 30%);
                &:hover {
                    padding-left: 18px;
                    background: #333;
                }
            }
            &.has-sub {
                > a {
                    &::after {
                        content: "\f105";
                        position: absolute;
                        top: -3px;
                        right: 15px;
                        font-weight: bold;
                        @include transform-translateY(50%)
                    }
                }
            }
        }
    }

    &.header-type-2 {
        ul:not(.sub-menu) {
            text-align: center;
            > li {
                & > a {
                    padding-left: 10px;
                    padding-right: 10px;
                    @include respond-to(notebook) {
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: calculateRem(11.1px);
                    }
                }
            }
        }

    }

    .header-white & {
        ul:not(.sub-menu) {
            > li {
                & > a {
                    color: $cx-text-color;
                    text-shadow: none;
                }

                &.active {
                    > a {
                        @extend %color-secondary;
                    }
                }
            }
        }
    }

    &.stellarnav {
        li {
            &.active {
                > a {
                    color: $cx-fourth-color;
                }
            }

            li {
                &.active {
                    > a {
                        @extend %color-secondary;
                    }
                }
            }
        }
    }
}

.intelligent-header {
    &.scrolling-up {
        #main-nav {
            li {
                > a {
                    padding-top: 26px;
                    padding-bottom: 26px;
                }
            }
            .sub-menu {
                a {
                    padding-top: 9px;
                    padding-bottom: 9px;
                }
            }
        }
    }
}
