/**
 * Layout header/ Main Menu
 *
 */
 
#main-nav {
    ul {
        text-align: right;
    }
    li {
        & > a:not(.dd-toggle) {
            display: block;
            line-height: 22px;
            padding: 39px 15px;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0,0,0,.1);
            color: #fff;
            padding-bottom: $cx-heading-margin-bottom;
        }
        &.has-sub {
            > a {
                &::after {
                    content: "\f107";
                    font-weight: normal;
                }
            }
        }
    }

    .sub-menu {
        border: 1px solid;
        border-top: 2px solid $cx-primary-color;
        border-color: $cx-primary-color lighten(rgb(0, 0, 0), 15%) lighten(rgb(0, 0, 0), 15%);
        background: #3e3e3e;
        li {
            > a {
                padding-top: 9px;
                padding-bottom: 9px;
                text-shadow: none;
                text-align: left;
                font-size: 12px;
                color: darken($cx-body-bg-color, 30%);
            }
            &.has-sub {
                > a {
                    &::after {
                        content: "\f105";
                        position: absolute;
                        top: -3px;
                        right: 15px;
                        font-weight: bold;
                        @include transform-translateY(50%)
                    }
                }
            }
        }
    }
}

.intelligent-header {
    &.scrolling-up {
        #main-nav {
            li {
                > a {
                    padding-top: 26px;
                    padding-bottom: 26px;
                }
            }
            .sub-menu {
                a {
                    padding-top: 9px;
                    padding-bottom: 9px;
                }
            }
        }
    }
}
