
//-------------------- Base Typography --------------------//

$cx-body-font: 					'Lato', sans-serif !default;
$cx-heading-font: 				'Raleway', sans-serif;


//-------------------- Font Sizes --------------------//

$cx-body-font-size: 			17px !default;
$cx-h1-font-size: 				2 * $cx-body-font-size !default;
$cx-h2-font-size: 				1.75 * $cx-body-font-size !default;
$cx-h3-font-size: 				1.5 * $cx-body-font-size !default;
$cx-h4-font-size: 				1.3125 * $cx-body-font-size !default;
$cx-h5-font-size: 				1.125 * $cx-body-font-size !default;
$cx-h6-font-size: 				1 * $cx-body-font-size !default;


//-------------------- Base Color --------------------//

$cx-text-color: 				#545454 !default;
$cx-body-bg-color: 				#fff !default;

$cx-primary-color:  			#947cb0 !default;
$cx-secondary-color: 			#d7706d !default;
// $cx-tertiary-color:				#ffcb5e !default;
$cx-tertiary-color:				#3e3e3e !default;
// $cx-fourth-color: 				#c6e7e5 !default;
$cx-fourth-color: 				#ffcb5e !default;
$cx-grey-color: 				#9aabb8 !default;

$cx-link-color: 				$cx-primary-color !default;
$cx-link-hover-color: 			$cx-secondary-color !default;

$cx-offset-color:				#F8F9FA !default;
$cx-border-color:				#ddd !default;


//-------------------- Line Height --------------------//

$cx-body-line-height: 			1.6 !default;
$cx-body-font-weight : 			400 !default;


//-------------------- Default Spacing --------------------//

$cx-heading-margin-bottom: 		25px !default;
$cx-section-spacing:	 		90px !default;
$cx-col-spacing:				0.5 * $cx-section-spacing !default; // will be used as bottom margin/padding


//-------------------- Default Mobile Spacing --------------------//

$shrink-factor:					0.75 !default; // shrink spacing for mobile
$cx-col-spacing-mob:			$shrink-factor*$cx-col-spacing !default; // shrink col spacing for mobile
$cx-section-spacing-mob:		$shrink-factor*$cx-section-spacing !default; // shrink col spacing for mobile


//-------------------- Default Transition --------------------//

$cx-transition: 				all .7s cubic-bezier(.2,1,.22,1) !default;


//-------------------- Default Breakpoint / Screen Size --------------------//

$cx-lg-screen:					1200px !default;
$cx-md-screen: 					992px !default;
$cx-sm-screen:					768px !default;
$cx-vsm-screen:					480px !default;

$cx-breakpoints: (
    "wide":    					$cx-lg-screen,
    "notebook":    				$cx-md-screen,
    "tablet":    				$cx-sm-screen,
    "small-mobile": 			$cx-vsm-screen, 
);


//-------------------- Social Icon Sizes --------------------//

$cx-social-icon-size-small: 	26px !default;
$cx-social-icon-size-large: 	34px !default;


//-------------------- Social Icon Colors --------------------//

$facebook-color:           		#3B5998;
$twitter-color:                 #00ACEE;
$gplus-color:                   #DD4B39;
$pinterest-color:               #C8232C;
$linkedin-color:                #0E76A8;
$instagram-color:               #3F729B;
$skype-color:                   #00AFF0;
$youtube-color:                 #C4302B;
