/**
 * layout home-2/ about-us
 *
 */

.about-us {
	// @extend %mb0;
	// @extend %vpadding;
	ul {
		padding: 0;
		margin-bottom: $cx-col-spacing-mob;
		list-style: none;
		li {
			display: inline-block;
			width: 48%;
			margin-bottom: 10px;
			&:nth-child(odd) {
				margin-right: 2%;
			}
		}
	}

	.animated-skillbar {
		@extend %mt-half;
		margin-bottom: -7px;
		@include respond-to(mobile) {
			margin: 0;
			margin-bottom: $cx-col-spacing-mob;
			&.last {
				margin-bottom: 0;
			}
		}
	}
}