/**
 * layout Home-2/ About-us
 *
 */

.about-us {
	ul {
		padding: 0;
		margin-bottom: $cx-col-spacing-mob;
		list-style: none;
		li {
			display: inline-block;
			width: 48%;
			margin-bottom: 10px;
			&:nth-child(odd) {
				margin-right: 2%;
			}
			@include media-only(small-mobile, max) {
				width: 100%;
			}
		}

		@include media-only(notebook, max) {
			margin-bottom: 0;
		}
	}

	.animated-skillbar {
		@extend %mt-half;
		margin-bottom: -7px;
        @include respond-to(notebook) {
            margin-top: 20px;
        }
	}

	.wrapper-with-left-padding:not(.mobile-text-left) {
		@include media-only(notebook, max) {
			text-align: center;
		}
	}
}