/**
 * layout slider/ slider
 *
 */

.slider-section {
	width:100%;
	overflow: hidden;
	float:none;
	clear:both;
	display: block;
	position: relative;
	top: -101px;
	margin-bottom: -101px;
	h2,
	p {
		&.sp-layer {
			color: #fff;
			z-index: 2;
		}
	}
	h2 {
		&.sp-layer {
			font-size: 64px;
			line-height: 64px;
			text-transform: uppercase;
		}
	}
	p {
		&.sp-layer {
			font-size: 24px;
			line-height: 32px;
			font-weight: 300;
		}
	}

	div {
		&.slider-button {
			z-index: 2;
		}
	}
}