/**
 * layout slider/ slider
 *
 */

.slider-section,
.full-screen-slider-section {
	h2,
	p {
		&.sp-layer {
			z-index: 2;
			@extend %color-white;
		}
	}
	h2 {
		&.sp-layer {
			font-size: 64px;
			line-height: 64px;
			margin-bottom: 30px;
			text-transform: uppercase;
		}
		span {
			&.typed-element,
			&.typed-cursor {
				color: $cx-secondary-color;
			}
		}
	}
	p {
		&.sp-layer {
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 50px;
			font-weight: 300;
		}
	}

	div {
		&.slider-button {
			z-index: 2;
		}
	}
}

.slider-section {
    overflow: hidden;
}

.full-screen-slider-section {
	width:100%;
	overflow: hidden;
	float:none;
	clear:both;
	display: block;
	position: relative;
	top: -101px;
	margin-bottom: -101px;
	.sp-mask {
		// min-height: 500px;
		@include respond-to(mobile) {
			min-height: 300px;
		}
	}

	.full-width-video {
		width: 100%;
	}
}

#primary-slider-with-particle,
#primary-slider-with-video {

	.sp-video {
		&::after {
			display: none;
		}
	}

	h4 {
		text-transform: uppercase;
		margin-bottom: 5px;
		@extend %color-white;
	}

	h2 {
		font-size: 2.5em;
		margin-bottom: 20px;
	}

	p {
		// width: 70%;
		margin-bottom: 50px;
	}

	a {
		position: relative;
	}
}


.layer-wrapper {
	position: absolute;
	width: 1140px;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	@include push-center;
}

.inner-wrapper {
	display: block;
	width: 70%;
	@include cx-centered(both);
}

.sp-layer {
	position: relative;
}

.sp-buttons {
	position: absolute;
	left: 0;
	bottom: 30px;

	.sp-button {
		border-color: lighten($cx-text-color, 100%);
		background-color: lighten($cx-text-color, 100%);
		width: 15px;
		height: 8px;
	    opacity: 0.2;
		@include border-radius(0);
		@extend %cx-transition;
	}

	.sp-selected-button {
		width: 26px;
		opacity: 1;
	}
}

