/**
 * layout Slider/ Slider
 *
 */

.slider-section {
    overflow: hidden;
}

.full-screen-slider-section {
	width: 100%;
	overflow: hidden;
	float: none;
	clear: both;
	display: block;
	position: relative;
	top: -101px;
	margin-bottom: -101px;

	.sp-slide {
		&.with-video {
			overflow: hidden;
		}
	}

	.full-width-video {
		width: 100%;
		height: auto;
	    @supports (object-fit: cover) {
	    	height: 100%;
			object-fit: cover;
	    }
	}
}

#primary-slider-with-particle,
#primary-slider-with-video {

	.sp-video {
		&::after {
			display: none;
		}
	}

	h2 {
		font-size: calculateRem(50px);
		margin-bottom: 20px;
		@include respond-to(notebook) {
			font-size: calculateRem(44px);
		}
		@include respond-to(tablet) {
			font-size: calculateRem(36px);
		}
		@include respond-to(mobile) {
			font-size: calculateRem(30px);
		}
		@include media-only(small-mobile, max) {
			font-size: calculateRem(21px);
		}
	}

	p {
		@include media-only(notebook, min) {
			margin-bottom: 50px;
		}
		@include media-only(small-mobile, max) {
			font-size: calculateRem(14px);
		}
	}

	a {
		position: relative;
	}
}


.layer-wrapper {
	position: absolute;
	width: 1140px;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	@include push-center;

    @include respond-to(notebook) {
    	width: 940px;
    }

    @include respond-to(tablet) {
    	width: 720px;
    }

    @include respond-to(mobile) {
        width: 95%;
    	width: calc(100% - 30px);
    }
}

.inner-wrapper {
	display: block;
	width: 70%;
	@include cx-centered(both);

    @include respond-to(tablet) {
        width:90%;
    }

    @include respond-to(mobile) {
        width:100%;

    }
}

