/**
 * layout slider/ tabbed slider
 *
 */

.service-tabs {
    .nav-swiper {
        width: 100%;
	    padding-bottom: 12px;
	    z-index: 2;
        .swiper-wrapper {
		    border-top: 2px solid lighten($cx-tertiary-color, 8%);
		    border-bottom: 2px solid lighten($cx-tertiary-color, 8%);

		    .selected {
		        @extend %bgc-primary;
		        @include cx-box-shadow('0 2px 0 0 ' + $cx-primary-color + ', 0 -2px 0 0 ' + $cx-primary-color);

		        &::before {
				    width: 0;
				    height: 0;
				    border-left: 12px solid transparent;
				    border-right: 12px solid transparent;
				    border-top: 12px solid $cx-primary-color;
				    margin-bottom: -12px;
				    @include abs-position(auto, auto, 0, 50%);
				    @include transform-translateX(-50%);
		        }
		    }
        }

        .swiper-slide {
	        text-align: center;
	        font-size: calculateRem(14px);
	        text-transform: uppercase;
	        font-weight: 600;
	        font-family: $cx-heading-font;
	        min-height: 50px;
	        cursor: pointer;
	        @extend %vhcenter;
	        @extend %bgc-tertiary;
	        @extend %color-white;
	        @extend %cx-transition;
        }
    }
	
	.swiper-content {
		margin-top: -12px;
        width: 100%;
        min-height: 400px;

        .row {
			&.last {
				.info-item {
					@extend %mb0;
				}
			}
        }
	}

	.icon-check {
		list-style: none;
		padding: 0;
		margin: 0;

		> li {
			margin-bottom: 5px;

			&:last-child {
				@extend %mb0;
			}
		}
	}

	.tab-content-heading {
		max-width: 100%;
		@extend .section-heading;

		&.white-text {
			@extend %color-white;
		}

		&.left-aligned {
			h2,
			p {
				text-align: left;
			}
		}
	}

	.tab-content {
		&.white-text {
			p,
			li {
				@extend %color-white;
			}
		}
	}
}