/**
 * layout Portfolio / Portfolio-list
 *
 */

.page-portfolio-list {
	@include cx-background('../img/page-titles/portfolio-title-bg-3.jpg');
}

.portfolio-section {
	overflow-y: hidden;
}

.portfolio-list-wrapper {
    margin-left: 15px;
    margin-right: -15px;

    @include respond-to(mobile) {
    	margin-left: 0;
    	margin-right: 0;
    }

    .portfolio {
    	@include respond-to(mobile) {
    		overflow: hidden;
    	}
    }

    .row {
    	overflow: hidden;
    	@include eqheight;
    }

	.portfolio-media {
		overflow: hidden;
		@include cx-prefix('backface-visibility', 'hidden');
		@extend %cx-transition;
		.media-container {
			margin-left: -15px;
			margin-right: -15px;
			min-height: 320px;
			position: relative;
	    	@include respond-to(mobile) {
	    		min-height: 240px;
	    	}
	    	@include media-only(small-mobile, max) {
	    		min-height: 180px;
	    	}
		}

		a {
			@include abs-position(0, 0, 0, 0);
		}
	}

	.portfolio-content {
		padding: 0.5 * $cx-section-spacing;
	    margin-left: -15px;
	    position: relative;
	    background: darken($cx-offset-color, 3%);
    	@include respond-to(mobile) {
		    margin-left: 0;
		    padding: 30px;
    	}

	    a {
	    	color: $cx-text-color;
	    }

	    p {
	    	color: lighten($cx-text-color, 15%);
	    	&:last-of-type {
	    		@extend %mb0;
	    	}
	    }

	    .portfolio-category {
		    font-size: calculateRem(13px);
		    margin-bottom: 15px;
		    line-height: 1;
		    text-transform: uppercase;
		    font-weight: 700;
		    font-family: $cx-heading-font;
		    letter-spacing: -0.2px;

		    ul {
		    	list-style: none;
		    	margin: 0;
		    	padding: 0;

		    	li {
		    		display: inline-block;
		    		margin-right: 7px;
		    		padding-right: 7px;
		    		position: relative;

		    		&::after {
						content: "|";
						position: absolute;
						top: 0;
						right: -3px;
		    		}

		    		&:last-child {
		    			&::after {
		    				content: none;
		    			}
		    		}
		    	}
		    }
		    @include respond-to(mobile) {
		    	font-size: calculateRem(12px);
		    }
	    }

	    h3 {
		    font-size: calculateRem(22px);
		    text-transform: uppercase;
		    font-weight: 600;
		    @include respond-to(mobile) {
		    	font-size: calculateRem(20px);
		    }
		    @include media-only(small-mobile, max) {
		    	font-size: calculateRem(18px);
		    }
	    }

	    &::before {
	    	@include abs-position(0, auto, 0, 0);
	    	width: 0;
			@include bcg-linear-gradient(110deg, $cx-primary-color, $cx-secondary-color);
	    	@extend %cx-transition;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				/* IE10+ CSS styles */
				min-height: 320px;
			}
	    }
	}

	> .portfolio {
		@extend %mb-half;
		&:hover {
			.portfolio-media {
				@include cx-prefix('transform', 'scale(1.1)');
			}
			.portfolio-content {
				.portfolio-category,
				.portfolio-category a,
				h3 a,
				p {
					position: relative;
					@extend %color-white;
					@extend %cx-transition;
				}

				&::before {
					width: 100%;
					right: 0;
				}
			}
		}

		&:last-of-type {
			@extend %mb0;
		}
	}
}