{
  "name": "creative",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/_scss/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/_scss",
      "assets/_scss/themes"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/_scss/styles.scss",
      "imports": [
        "assets/_scss/abstracts/__abstracts-dir.scss",
        "assets/_scss/base/__base-dir.scss",
        "assets/_scss/components/__components-dir.scss",
        "assets/_scss/layouts/__layouts-dir.scss",
        "assets/_scss/abstracts/_variables.scss",
        "assets/_scss/abstracts/_function.scss",
        "assets/_scss/abstracts/_mixins.scss",
        "assets/_scss/base/_global.scss",
        "assets/_scss/base/_typography.scss",
        "assets/_scss/base/_placeholder.scss",
        "assets/_scss/components/_cp-mobile-menu.scss",
        "assets/_scss/components/_cp-button.scss",
        "assets/_scss/components/_cp-pageloader.scss",
        "assets/_scss/components/_cp-tooltip.scss",
        "assets/_scss/components/_cp-social-icon.scss",
        "assets/_scss/components/_cp-primary-title.scss",
        "assets/_scss/components/_cp-secondary-title.scss",
        "assets/_scss/components/_cp-section-heading.scss",
        "assets/_scss/components/_cp-section-description.scss",
        "assets/_scss/components/_cp-service.scss",
        "assets/_scss/components/_cp-services-carousel.scss",
        "assets/_scss/components/_cp-cta.scss",
        "assets/_scss/components/_cp-counter.scss",
        "assets/_scss/components/_cp-tabs.scss",
        "assets/_scss/components/_cp-widgets.scss",
        "assets/_scss/components/_cp-portfolio.scss",
        "assets/_scss/components/_cp-team-member.scss",
        "assets/_scss/components/_cp-team-carousel.scss",
        "assets/_scss/components/_cp-simple-image-slider.scss",
        "assets/_scss/components/_cp-newsletter.scss",
        "assets/_scss/components/_cp-pricing-table.scss",
        "assets/_scss/components/_cp-testimonial.scss",
        "assets/_scss/components/_cp-blog-grid.scss",
        "assets/_scss/components/_cp-blog-list.scss",
        "assets/_scss/components/_cp-scroll-down.scss",
        "assets/_scss/components/_cp-info-box.scss",
        "assets/_scss/components/_cp-skillbar.scss",
        "assets/_scss/components/_cp-feature-box.scss",
        "assets/_scss/components/_cp-widgetized-menu.scss",
        "assets/_scss/components/_cp-particle.scss",
        "assets/_scss/components/_cp-pie-chart.scss",
        "assets/_scss/components/_cp-accordion.scss",
        "assets/_scss/components/_cp-flip-card.scss",
        "assets/_scss/components/_cp-client-list.scss",
        "assets/_scss/components/_cp-scroll-to-top.scss",
        "assets/_scss/components/_cp-image-box.scss",
        "assets/_scss/components/_cp-pagination.scss",
        "assets/_scss/components/_cp-social-share.scss",
        "assets/_scss/components/_cp-author-box.scss",
        "assets/_scss/components/_cp-comments.scss",
        "assets/_scss/components/_cp-primary-slider.scss",
        "assets/_scss/layouts/header/_lo-header.scss",
        "assets/_scss/layouts/header/_lo-main-menu.scss",
        "assets/_scss/layouts/header/_lo-intelligent-header.scss",
        "assets/_scss/layouts/header/_lo-socials.scss",
        "assets/_scss/layouts/header/_lo-header-top.scss",
        "assets/_scss/layouts/slider/_lo-slider.scss",
        "assets/_scss/layouts/slider/_lo-image-slider.scss",
        "assets/_scss/layouts/slider/_lo-tabbed-slider.scss",
        "assets/_scss/layouts/footer/_lo-footer.scss",
        "assets/_scss/layouts/portfolio/_lo-recent-portfolio.scss",
        "assets/_scss/layouts/portfolio/_lo-portfolio.scss",
        "assets/_scss/layouts/portfolio/_lo-portfolio-list.scss",
        "assets/_scss/layouts/portfolio/_lo-portfolio-single.scss",
        "assets/_scss/layouts/blog/_lo-blog-grid.scss",
        "assets/_scss/layouts/blog/_lo-blog-list.scss",
        "assets/_scss/layouts/blog/_lo-blog-single.scss",
        "assets/_scss/layouts/cta/_lo-cta.scss",
        "assets/_scss/layouts/team/_lo-team.scss",
        "assets/_scss/layouts/newsletter/_lo-newsletter-section.scss",
        "assets/_scss/layouts/contact/_lo-contact-form.scss",
        "assets/_scss/layouts/contact/_lo-contact.scss",
        "assets/_scss/layouts/clients/_lo-clients.scss",
        "assets/_scss/layouts/page-title/_lo-page-title.scss",
        "assets/_scss/layouts/about/_lo-about.scss",
        "assets/_scss/layouts/about/_lo-history.scss",
        "assets/_scss/layouts/services/_lo-service-promo.scss",
        "assets/_scss/layouts/services/_lo-services.scss",
        "assets/_scss/layouts/services/_lo-pricing.scss",
        "assets/_scss/layouts/testimonial/_lo-testimonial.scss",
        "assets/_scss/layouts/faq/_lo-faq.scss",
        "assets/_scss/layouts/404/_lo-404.scss",
        "assets/_scss/layouts/modal/_lo-modal.scss",
        "assets/_scss/layouts/home-1/_lo-about.scss",
        "assets/_scss/layouts/home-1/_lo-counter-section.scss",
        "assets/_scss/layouts/home-1/_lo-split-section.scss",
        "assets/_scss/layouts/home-1/_lo-reasons-to-choose.scss",
        "assets/_scss/layouts/home-1/_lo-testimonial.scss",
        "assets/_scss/layouts/home-1/_lo-clients.scss",
        "assets/_scss/layouts/home-1/_lo-features.scss",
        "assets/_scss/layouts/home-2/_lo-about-us.scss",
        "assets/_scss/layouts/home-2/_lo-services.scss",
        "assets/_scss/layouts/home-2/_lo-fun-facts.scss",
        "assets/_scss/layouts/home-2/_lo-values.scss",
        "assets/_scss/layouts/home-2/_lo-testimonial.scss",
        "assets/_scss/layouts/home-2/_lo-video-section.scss",
        "assets/_scss/layouts/home-2/_lo-contact.scss",
        "assets/_scss/layouts/home-3/_lo-slider.scss",
        "assets/_scss/layouts/home-3/_lo-about.scss",
        "assets/_scss/layouts/home-3/_lo-features.scss",
        "assets/_scss/layouts/home-3/_lo-services.scss",
        "assets/_scss/layouts/home-3/_lo-values.scss",
        "assets/_scss/layouts/home-3/_lo-testimonials.scss",
        "assets/_scss/layouts/home-3/_lo-bg-video-section.scss",
        "assets/_scss/layouts/home-3/_lo-contact-us.scss"
      ]
    },
    {
      "path": "assets/_scss/abstracts/__abstracts-dir.scss",
      "imports": [
        "assets/_scss/abstracts/_variables.scss",
        "assets/_scss/abstracts/_function.scss",
        "assets/_scss/abstracts/_mixins.scss"
      ]
    },
    {
      "path": "assets/_scss/base/__base-dir.scss",
      "imports": [
        "assets/_scss/base/_global.scss",
        "assets/_scss/base/_typography.scss",
        "assets/_scss/base/_placeholder.scss"
      ]
    },
    {
      "path": "assets/_scss/components/__components-dir.scss",
      "imports": [
        "assets/_scss/components/_cp-mobile-menu.scss",
        "assets/_scss/components/_cp-button.scss",
        "assets/_scss/components/_cp-pageloader.scss",
        "assets/_scss/components/_cp-tooltip.scss",
        "assets/_scss/components/_cp-social-icon.scss",
        "assets/_scss/components/_cp-primary-title.scss",
        "assets/_scss/components/_cp-secondary-title.scss",
        "assets/_scss/components/_cp-section-heading.scss",
        "assets/_scss/components/_cp-section-description.scss",
        "assets/_scss/components/_cp-service.scss",
        "assets/_scss/components/_cp-services-carousel.scss",
        "assets/_scss/components/_cp-cta.scss",
        "assets/_scss/components/_cp-counter.scss",
        "assets/_scss/components/_cp-tabs.scss",
        "assets/_scss/components/_cp-widgets.scss",
        "assets/_scss/components/_cp-portfolio.scss",
        "assets/_scss/components/_cp-team-member.scss",
        "assets/_scss/components/_cp-team-carousel.scss",
        "assets/_scss/components/_cp-simple-image-slider.scss",
        "assets/_scss/components/_cp-newsletter.scss",
        "assets/_scss/components/_cp-pricing-table.scss",
        "assets/_scss/components/_cp-testimonial.scss",
        "assets/_scss/components/_cp-blog-grid.scss",
        "assets/_scss/components/_cp-blog-list.scss",
        "assets/_scss/components/_cp-scroll-down.scss",
        "assets/_scss/components/_cp-info-box.scss",
        "assets/_scss/components/_cp-skillbar.scss",
        "assets/_scss/components/_cp-feature-box.scss",
        "assets/_scss/components/_cp-widgetized-menu.scss",
        "assets/_scss/components/_cp-particle.scss",
        "assets/_scss/components/_cp-pie-chart.scss",
        "assets/_scss/components/_cp-accordion.scss",
        "assets/_scss/components/_cp-flip-card.scss",
        "assets/_scss/components/_cp-client-list.scss",
        "assets/_scss/components/_cp-scroll-to-top.scss",
        "assets/_scss/components/_cp-image-box.scss",
        "assets/_scss/components/_cp-pagination.scss",
        "assets/_scss/components/_cp-social-share.scss",
        "assets/_scss/components/_cp-author-box.scss",
        "assets/_scss/components/_cp-comments.scss"
      ]
    },
    {
      "path": "assets/_scss/layouts/__layouts-dir.scss",
      "imports": [
        "assets/_scss/layouts/header/_lo-header.scss",
        "assets/_scss/layouts/header/_lo-main-menu.scss",
        "assets/_scss/layouts/header/_lo-intelligent-header.scss",
        "assets/_scss/layouts/header/_lo-socials.scss",
        "assets/_scss/layouts/header/_lo-header-top.scss",
        "assets/_scss/layouts/slider/_lo-slider.scss",
        "assets/_scss/layouts/slider/_lo-image-slider.scss",
        "assets/_scss/layouts/slider/_lo-tabbed-slider.scss",
        "assets/_scss/layouts/footer/_lo-footer.scss",
        "assets/_scss/layouts/home-1/_lo-about.scss",
        "assets/_scss/layouts/home-1/_lo-counter-section.scss",
        "assets/_scss/layouts/home-1/_lo-split-section.scss",
        "assets/_scss/layouts/portfolio/_lo-recent-portfolio.scss",
        "assets/_scss/layouts/portfolio/_lo-portfolio.scss",
        "assets/_scss/layouts/portfolio/_lo-portfolio-list.scss",
        "assets/_scss/layouts/portfolio/_lo-portfolio-single.scss",
        "assets/_scss/layouts/blog/_lo-blog-grid.scss",
        "assets/_scss/layouts/blog/_lo-blog-list.scss",
        "assets/_scss/layouts/blog/_lo-blog-single.scss",
        "assets/_scss/layouts/cta/_lo-cta.scss",
        "assets/_scss/layouts/team/_lo-team.scss",
        "assets/_scss/layouts/home-1/_lo-reasons-to-choose.scss",
        "assets/_scss/layouts/home-1/_lo-pricing-section.scss",
        "assets/_scss/layouts/home-1/_lo-testimonial.scss",
        "assets/_scss/layouts/home-1/_lo-blog.scss",
        "assets/_scss/layouts/home-1/_lo-clients.scss",
        "assets/_scss/layouts/home-1/_lo-support.scss",
        "assets/_scss/layouts/home-1/_lo-features.scss",
        "assets/_scss/layouts/home-2/_lo-about-us.scss",
        "assets/_scss/layouts/home-2/_lo-features.scss",
        "assets/_scss/layouts/home-2/_lo-fun-facts.scss",
        "assets/_scss/layouts/home-2/_lo-values.scss",
        "assets/_scss/layouts/home-2/_lo-testimonial.scss",
        "assets/_scss/layouts/home-2/_lo-video-section.scss",
        "assets/_scss/layouts/home-2/_lo-contact.scss",
        "assets/_scss/layouts/home-3/_lo-slider.scss",
        "assets/_scss/layouts/home-3/_lo-about.scss",
        "assets/_scss/layouts/home-3/_lo-features.scss",
        "assets/_scss/layouts/home-3/_lo-services.scss",
        "assets/_scss/layouts/home-3/_lo-values.scss",
        "assets/_scss/layouts/home-3/_lo-testimonials.scss",
        "assets/_scss/layouts/home-3/_lo-bg-video-section.scss",
        "assets/_scss/layouts/home-3/_lo-contact-us.scss",
        "assets/_scss/layouts/newsletter/_lo-newsletter-section.scss",
        "assets/_scss/layouts/contact/_lo-contact-form.scss",
        "assets/_scss/layouts/contact/_lo-contact.scss",
        "assets/_scss/layouts/clients/_lo-clients.scss",
        "assets/_scss/layouts/page-title/_lo-page-title.scss",
        "assets/_scss/layouts/about/_lo-about.scss",
        "assets/_scss/layouts/about/_lo-history.scss",
        "assets/_scss/layouts/services/_lo-service-promo.scss",
        "assets/_scss/layouts/services/_lo-services.scss",
        "assets/_scss/layouts/testimonial/_lo-testimonial.scss",
        "assets/_scss/layouts/faq/_lo-faq.scss",
        "assets/_scss/layouts/404/_lo-404.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}