/**
 * layout blog / blog-grid
 *
 */

.blog-list-wrapper {
	margin-bottom: - $cx-col-spacing;
	@extend %clearfix;
	.post-single {
		@extend %mb-half;
	}

	.post-content {
		p {
		    display: -webkit-box;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;
		}
	}

	.carousel-arrow {
		width: 40px;
	}

	.blog-post {
		.quote-wrapper {
			height: 250px;

			&::before {
				top: 60px;
			}

			@include respond-to(mobile) {
				height: auto;
			}
		}
	}

	.post-like,
	.post-share,
	.post-comments {
		@include media-only(small-mobile, max) {
			display: none;
		}
	}
}