/**
 * layout blog/blog grid
 *
 */

.blog-grid-section {
	.blog-item-grid {
		margin-bottom: $cx-col-spacing;
		@include respond-to(mobile) {
			margin-bottom: $cx-col-spacing-mob;
		}
	}

	.pagination {
		margin-top: 0;
		margin-bottom: 0;
	}
}