/**
 * layout Blog / Blog-grid
 *
 */

.page-blog-grid {
	@include cx-background('../img/page-titles/blog-title-bg.jpg');
}

.blog-grid-wrapper {
	margin-bottom: - $cx-col-spacing;
	.blog-grid {
		@extend %mb-half;
	}

	.carousel-arrow {
		opacity: 1;
	}

	.quote-wrapper {
		height: 203px;
		padding: 20px 30px;
		padding-left: 90px;
		@extend %mb0;
		@include respond-to(mobile) {
			height: auto;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		@include media-only(small-mobile, max) {
			padding: 15px;
		}
	}

	.simple-slider-container {
		@extend %mb0
	}
}

.blog-post {
	.post-media {
		&.quote-post {
			> a {
				@include eqheight;
			}
		}
	}
}

.quote-wrapper {
    padding: 30px;
    padding-left: 90px;
    position: relative;
    margin-bottom: 25px;
    @include bcg-linear-gradient(45deg, $cx-tertiary-color, lighten($cx-tertiary-color, 20%));
    @extend %color-white;
	@include respond-to(mobile) {
		margin-bottom: 0;
	}
	@include media-only(small-mobile, max) {
		padding: 15px;
	}

    a {
    	@extend %color-white;
    }

    &::before {
	    content: "\f128";
	    font-family: "Flaticon";
	    font-size: 2.125rem;
	    position: absolute;
	    top: 30px;
	    left: 30px;
	    opacity: 0.7;
        line-height: 1em;
        @include media-only(small-mobile, max) {
        	content: none;
        }
    }

    p {
    	margin-top: 10px;
    	text-align: right;
    	font-size: calculateRem(13px);
    	font-style: italic;
    	opacity: 0.7;
    	@extend %mb0;
    	@extend %cx-transition;

    	&:hover {
    		opacity: 1;
    	}
    }
}

blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}

.embed {
    position: relative;
    padding: 0px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    border: 0;
	    width: 100%;
	    height: 100%;
    }
}