/**
 * layout Blog / Blog-list
 *
 */

.page-blog-list {
	@include cx-background('../img/page-titles/blog-title-bg-2.jpg');
}

.blog-list-wrapper {
	margin-bottom: - $cx-col-spacing;
	@extend %clearfix;
	.post-single {
		@extend %mb-half;
	}

	.post-content {
		p {
			@include cx-truncation(3, 1.5, #fff);
		}
	}

	.carousel-arrow {
		width: 40px;
	}

	.blog-post {
		.quote-wrapper {
			height: 250px;

			&::before {
				top: 60px;
			}

			@include respond-to(mobile) {
				height: auto;
			}
		}
	}

	.post-like,
	.post-share,
	.post-comments {
		@include media-only(small-mobile, max) {
			display: none;
		}
	}
}