/**
 * Components Pagination
 *
 */

.pagination-wrapper {
	margin-top: ($cx-section-spacing) - 20px;

	.pagination {
		@extend %mt0;
		margin-bottom: -7px;
	}

	.pagination-lg {
		& > li {
			& > span,
			& > a {
			margin-left: 5px;
			margin-right: 5px;
		    padding: 7px 13px;
				@include media-only(small-mobile, max) {
					padding: 6px 12px;
					font-size: calculateRem(14px);
					margin-left: 0;
				}
			}
		}

		& > li {
			&:first-child {
				& > span,
				& > a {
					margin-left: 0;
				}
			}
			&:last-child {
				& > span,
				& > a {
					margin-right: 0;
				}
			}
		}
	}
}

.pagination {
	.active {
		a {
			background-color: $cx-primary-color;
			border-color: $cx-primary-color;
			&:hover {
				background-color: $cx-primary-color;
				border-color: $cx-primary-color;
			}
		}

		span {
			background-color: $cx-primary-color;
			border-color: $cx-primary-color;
			&:hover {
				background-color: $cx-primary-color;
				border-color: $cx-primary-color;
			}
		}
	}

	li {
		span,
		a {
			color: $cx-text-color;
			border-width: 1.2px;
			border-color: $cx-border-color;
			&:hover,
			&:focus {
				color: lighten($cx-text-color, 100%);
				background: $cx-primary-color;
				border-color: $cx-primary-color;
			}
		}
		&:first-child,
		&:last-child {
			span,
			a {
				@include border-radius(0);
			}
		}
	}
	
}

.cx-pagination {
	padding-top:15px;
	padding-bottom: 15px;
	border-top: 1px dashed $cx-border-color;
	border-bottom: 1px dashed $cx-border-color;
	margin-bottom: $cx-col-spacing;
	@extend %clearfix;
	.prev {
		i {
			margin-right: 7px;
		}

		a {
			&:hover {
			    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.15);
			}
		}
	}
	.next {
		i {
			margin-left: 7px;
		}

		a {
			&:hover {
			    text-shadow: -3px 4px 3px rgba(0, 0, 0, 0.15);
			}
		}
	}
	a {
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: $cx-text-color;
		font-size: calculateRem(15px);
		&:hover {
			color: $cx-secondary-color;
		}
		@include media-only(small-mobile, max) {
			font-size: calculateRem(14px);
		}
	}
	@include respond-to(mobile) {
		margin-bottom: $cx-col-spacing-mob;
	}
}
