/**
 * Components Image effect 01
 *
 */

.image-info-wrapper {
	position: relative;
	overflow: hidden;
	img {
		width:100%;
		max-width:100%;
	}

	.image-caption {
		position:absolute;
		text-align: center;
		background: $cx-primary-color;
		color: lighten($cx-text-color, 100%);
		width:100%;
		bottom:0;
		left:0;
		@extend %cx-transition;
		@include transform-translateY(100px);
		h3 {
			@extend %mb0;
			font-size: 20px;
			letter-spacing: 1px;
			@include respond-to(notebook) {
				font-size: 18px;
			}

			@include respond-to(tablet) {
				font-size: 14px;
			}

			@include respond-to(mobile) {
				font-size: 16px;
			}
		}

		a {
			padding:15px;
			display: block;
			color: lighten($cx-text-color, 100%);
		}

	}

	&:hover {
		.image-caption {
			@include transform-translateY(0);
		}
	}

	&.last {
		@include respond-to(mobile) {
			margin-bottom: 0;
		}
	}

	@include respond-to(mobile) {
		margin-bottom: $cx-col-spacing-mob;
	}


}