/**
 * Components Pricing table
 *
 */

.pricing-table {
    position: relative;
    overflow: hidden;
    text-align: center;
	@include cx-box-shadow;

	.pricing-header {
	    width: 100%;
	    line-height: 1.4;
	    padding: 55px 30px;
	    @include bcg-linear-gradient(-225deg, $cx-secondary-color, lighten($cx-secondary-color, 10%));
	}

	.pricing-title {
	    text-transform: uppercase;
	    font-size: calculateRem(30px);
	    margin-bottom: 1.2 * $cx-heading-margin-bottom;
	    color: lighten($cx-text-color, 100%);
	}

	.pricing-amount-wrapper {
	    font-size: calculateRem(30px);
	    font-weight: 500;
	    color: darken($cx-text-color, 10%);
	    width: 110px;
	    height: 110px;
	    display: inline-block;
	    position: absolute;
	    left: 50%;
	    margin-left: -55px;
	    line-height: 1.3;
	    padding: 28px 15px;
	    text-align: center;
	    background: lighten($cx-text-color, 100%);
	    @include cx-prefix('box-shadow', '0px 0px 5px 2px rgba(14, 16, 9, 0.1)');
	    @include border-radius(50%);
	}

	.pricing-duration {
	    font-size: calculateRem(13px);
	    display: block;
	    text-transform: capitalize;
	}

	.pricing-features {
	    padding: 80px 40px 30px;
	    min-height: 345px;
	    list-style: none;
	    @extend %bgc-white;
	    @extend %mb0;

	    li {
		    float: left;
		    width: 100%;
		    padding: 8px 0;
		    font-size: calculateRem(14px);
		    border-bottom: 1px solid $cx-border-color;

		    &:last-child {
		    	border: 0;
		    }
	    }
	}

	.pricing-button {
		a {
		    padding: 12px 32px;
		    background-color: $cx-secondary-color;
		    font-size: calculateRem(14px);
		    font-weight: 500;
		    width: 100%;
		    display: block;
			text-transform: uppercase;
		    letter-spacing: 2px;
		    color: lighten($cx-text-color, 100%);

		    &:hover {
			    background: darken($cx-secondary-color, 10%);
		    }
		}
	}

	.featured-ribbon {
	    background-color: $cx-fourth-color;
	    width: 120px;
	    font-size: calculateRem(11px);
	    font-weight: 700;
	    padding: 4px 0;
	    display: inline-block;
	    position: absolute;
	    right: -33px;
	    top: 16px;
	    text-transform: uppercase;
	    text-shadow: 0 1px 0 rgba(255,255,255,.5);
	    @include cx-prefix('box-shadow', '0 3px 0 0 rgba(0,0,0,.1)');
	    @include transform-rotate(45deg);
	}

	&.featured {
		.pricing-header {
		    @include bcg-linear-gradient(-225deg, $cx-primary-color, lighten($cx-primary-color, 10%));
		}

		.pricing-button {
			a {
			    background-color: $cx-primary-color;

			    &:hover {
					background: darken($cx-primary-color, 10%);
			    }
			}
		}
	}

	&.on-sale {
		.pricing-header {
		    @include bcg-linear-gradient(-225deg, $cx-tertiary-color, lighten($cx-tertiary-color, 10%));
		}

		.pricing-button {
			a {
			    background-color: $cx-tertiary-color;

			    &:hover {
					background: darken($cx-tertiary-color, 10%);
			    }
			}
		}
	}

	@include respond-to(tablet) {
		margin-bottom: $cx-col-spacing;
	}

	&.last {
		margin-bottom: 0;
	}
}

.pricing-table-type-2 {
	position: relative;
	margin-top: 14px;
	.pricing-title,
	.pricing-amount-wrapper {
	    color: lighten($cx-text-color, 100%);
	    text-align: center;
	    border: 1px solid lighten($cx-primary-color, 5%);
	}

	.pricing-title {
	    padding: 15px;
	    margin: 0;
	    border-bottom: 0;
	    font-size: calculateRem(14px);
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    background-color: $cx-primary-color;
	}

	.pricing-amount-wrapper {
	    background-color: darken($cx-primary-color, 10%);
	    font-size: calculateRem(60px);
	    line-height: 1.2em;
	    padding: 25px 12px;
	    font-weight: 600;
	}

	.pricing-amount {
		margin-right: -10px;
		text-shadow: 0 1px 1px #111;
	}

	.pricing-currency,
	.pricing-duration {
	    opacity: 0.4;
	    color: lighten($cx-text-color, 100%);
	    text-shadow: 0 1px 1px #111;
	}

	.pricing-currency {
		font-size: calculateRem(32px);
	    position: relative;
	    top: -21px;
	    line-height: 1em;
	    font-weight: normal;
	}

	.pricing-duration {
	    display: block;
	    font-size: calculateRem(17px);
	    font-style: italic;
	    line-height: 1.4em;
	    font-weight: normal;
	    letter-spacing: 1px;
	    text-transform: capitalize;
	}

	.pricing-features {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		li {
			border: 1px solid $cx-border-color;
			border-top: 0;
			padding: 12px 15px;
			font-size: 15px;

			&:nth-child(odd) {
			    background: $cx-offset-color;
			}

			&:nth-child(even) {
		        background-color: lighten($cx-text-color, 100%);
			}
		}

		strike {
			opacity: 0.6;
		}
	}

	.pricing-button {
		padding: 15px;
		text-align: center;
		border: 1px solid $cx-border-color;
		border-top: 0;
		@extend %bgc-white;
		a {
			margin: 30px 0 25px;
		    min-width: 120px;
		    padding: 12px 25px;
		    height: auto;
		}
	}

	&.featured {
		top: -14px;
		@include cx-box-shadow('0 4px 8px 0px rgba(46,61,73,0.2);')
		.pricing-title {
			padding-top: 22px;
			padding-bottom: 22px;
			background-color: $cx-secondary-color;
			border-color: lighten($cx-secondary-color, 5%);
		}

		.pricing-amount-wrapper {
			background-color: darken($cx-secondary-color, 10%);
			border-color: lighten($cx-secondary-color, 5%)
		}

		.pricing-button {
			padding-bottom: 26px;
			a {
				background: $cx-secondary-color;
			}
		}
	}

	&.on-sale {
		.pricing-title {
			background-color: $cx-grey-color;
			border-color: lighten($cx-grey-color, 5%);
		}

		.pricing-amount-wrapper {
			background-color: darken($cx-grey-color, 10%);
			border-color: lighten($cx-grey-color, 5%)
		}

		.pricing-button {
			a {
				background: $cx-grey-color;
			}
		}
	}
}