/**
 * Components tabs
 *
 */

.tab {
	.nav {
		margin-bottom: $cx-heading-margin-bottom;
		border-bottom: 0;
	}
	.nav-tabs {
		> li {
		    margin-right: 15px;
		    &:last-child {
		    	margin-right: 0;
		    }
		    @include respond-to(notebook) {
				margin-right: 10px;
		    }
			> a,
			a:focus,
			a:hover {
				@extend %bgc-transparent;
				@include cx-prefix('border-radius', 0);
			}
			a:hover {
				border-color: $cx-primary-color;
			}
			> a {
				min-width: 120px;
			    border-width: 1.2px;
			    border-style: solid;
			    border-color: $cx-text-color;
			    padding-top: 9px;
			    padding-bottom: 9px;
			    letter-spacing: 1px;
			    @include respond-to(notebook) {
			    	min-width: auto;
			    }
			}
			&.active {
				> a,
				a:focus,
				a:hover {
					border-color: $cx-primary-color;
					background: $cx-primary-color;
					border-width: 1.2px;
					@extend %color-white;
					@include cx-prefix('border-radius', 0);
				}
				> a:hover {
					@extend %color-white;
				}

			}
		}
	}

	.tab-pane p {
		margin-bottom: 0;
	}
}