/**
 * Components Button
 *
 */

.default-btn {
	@include button;
	position: relative;
	text-align: center;
	margin-bottom: -6px;
    z-index: 1;
	@extend %cx-transition;
	@extend %color-white;
	&::before {
	    z-index: -1;
	    @include cx-prefix('transform', 'rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0)');
	    @include cx-prefix('transform-origin', '0% 100%');
	    @include cx-prefix('transition', 'transform 0.3s, opacity 0.3s, background-color 0.3s');
	}
	&:hover {
		&::before {
		    opacity: 1;
		    @include cx-prefix('transform', 'rotate3d(0, 0, 1, 0deg)');
		    @include cx-prefix('transition-timing-function', 'cubic-bezier(0.2, 1, 0.3, 1)');
		}
	}
	&.white-btn {
		position: relative;
		border-color: $cx-body-bg-color;
		@extend %cx-transition;
		@extend %color-white;
	    &:hover {
	        color: $cx-text-color;
	        &::before {
	            background: $cx-body-bg-color;
	        }
	    }
	}

	@include respond-to(mobile) {
	    padding: 10px 15px;
	    font-size: calculateRem(12px);
	    min-width: 135px;
	}

	&.secondary {
		border-color: $cx-secondary-color;
		background: $cx-secondary-color;
		color: lighten($cx-text-color, 100%);
		&:hover {
			border-color: $cx-primary-color;
		}
	}
}


.animated-btn {
    background: none;
    color: darken($cx-text-color, 10%);
    padding: 0 25px;
    position: relative;
    font-size: calculateRem(12px);
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-flex;
    height: 44px;
    max-width: 100%;
	@include cx-prefix('align-items', 'stretch');
	@extend %cx-transition;

    &::before,
    &::after {
		@extend %cx-transition;
    }

    &::before,
    &::after {
	    content: '';
	    background: darken($cx-text-color, 10%);
	    position: absolute;
	    left: 0;
	    height: 1px;
	    width: 100%;
    }

    &::before {
	    bottom: -1px;
	    @include cx-prefix('transform', 'scale(0.65, 1)');
    }

    &::after {
	    top: -1px;
	    left: 0;
	    @include cx-prefix('transform', 'scale(0, 1)');
    }

    span {
	    white-space: nowrap;
	    margin: -1px 0;
	    border-bottom: 1px solid darken($cx-text-color, 10%);
	    position: relative;
	    @include flex;
	    @include cx-prefix('justify-content', 'center');
	    @include cx-prefix('align-items', 'center');

	    &::before,
	    &::after {
		    content: '';
		    background: darken($cx-text-color, 10%);
		    position: absolute;
		    bottom: 0;
		    height: 100%;
		    width: 1px;
			@extend %cx-transition;
			@include cx-prefix('transform', 'scale(1, 0)');
			@include cx-prefix('transform-origin', '0 100%');
	    }

	    &::before {
			left: -25px;
	    }

	    &::after {
		    right: -25px;
	    }
    }

    &:hover {
    	color: inherit;
    	&::before,
    	&::after {
		    @include cx-prefix('transform', 'scale(1, 1)');
    	}

    	&::after {
		    @include cx-prefix('transition-delay', '0.2s');
    	}

    	span {
		    @include cx-prefix('transition', 'none');

		    &::before,
		    &::after {
			    @include cx-prefix('transition-delay', '0.1s');
				@include cx-prefix('transform', 'scale(1, 1)');
		    }
    	}
    }
}

.btn-icon {
	position: relative;
	text-transform: capitalize;
	color: lighten($cx-text-color, 50%);
	&::after {
		@include abs-position(-2px, -23px);
        content: "\f178";
	    font-family: FontAwesome;
	    @include cx-transition('right 0.3s');
	}

	&:focus,
	&:hover {
		color: lighten($cx-text-color, 100%);
		&::after {
			right: -28px;
		}
	}
}

.fancy-btn {
	min-width: 165px;
	padding: 12px 32px;
    height: 44px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 2px;
    margin-bottom: -6px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
	overflow: hidden;
	position: relative;
	background: $cx-primary-color;
	&::before {
	    width: 0%;
	    height: 100%;
	    background: darken($cx-grey-color, 30%);
	    @extend %cx-transition;
	    @include abs-position(0, auto,auto, 50%);
	}

	span {
		color: lighten($cx-text-color, 100%);
	    display: block;
	    position: relative;
	}

	&:hover {
		&::before {
	        width: 100%;
		    left: 0%;
		    @include cx-prefix('transform', 'skewX(30deg)');
		}
	}
}

.shadow-btn {
	min-width: 165px;
	padding: 12px 32px;
    height: 44px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 2px;
    margin-bottom: -6px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
	overflow: hidden;
	position: relative;
	background: $cx-primary-color;
	color: lighten($cx-text-color, 100%);

	&:hover {
		background: $cx-secondary-color;
		color: lighten($cx-text-color, 100%);
    	@include transform-translateY(-3px);
    	@extend .spreaded-shadow;
	}
}

