/**
 * Components Info Box
 *
 */

.info-box-wrapper {
    @extend %overlay;
    @extend %mb-half;
    @include cx-transition('transform 0.25s ease-out');
    @include respond-to(mobile) {
		margin-bottom: $cx-col-spacing-mob;
    }

    &::before {
    	z-index: 1;
	    // @include bcg-linear-gradient(to top, rgba(46,46,51,1), rgba(46,46,51,0.2));
	    @include bcg-linear-gradient(to top, darken($cx-tertiary-color, 10%), rgba($cx-tertiary-color, 0.2));
    }

    .img-thumb {
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
	    display: block;
	    // @extend %cx-transition;
	    // img {
	    // 	@extend %cx-transition;
	    // 	@include cx-prefix('backface-visibility', 'hidden');
	    // }

	    img {
	    	width: 100%;
	    }
    }

    .info-content {
	    padding: 30px;
	    width: 100%;
	    color: lighten($cx-text-color, 100%);
	    z-index: 2;
	    @include abs-position(auto, auto, 0, 0);

	    h3,
	    p {
		    font-weight: 300;
		    margin-bottom: 1em;
	    }
	    h3 {
	    	font-weight: 400;
	    	font-size: calculateRem(20px);
	    }
    }

    // &:hover {
    // 	img {
    // 		@include cx-prefix('transform', 'scale(1.1)');
    // 	}
    // }
	@include respond-to(tablet) {
		margin-bottom: $cx-col-spacing;
	}

	&.type-2 {
		@extend %mb0;
		&::before {
		    opacity: 0;
		    @include cx-transition(opacity .5s);
		}
		.info-content {
		    padding: 0 10%;
		    width: 100%;
		    color: lighten($cx-text-color, 100%);
		    font-weight: 300;
		    opacity: 0;
		    bottom: auto;
			@include cx-transition(opacity .5s);
		    @include cx-centered(vertical);

		    p {
		    	margin: 0;
		    }
		}
	}

	&:hover {
		&::before,
		.info-content {
			opacity: 1;
		}
	}


}