/**
 * Components Service
 *
 */

.info-item {
	text-align:center;
	margin-bottom: $cx-col-spacing;
	@include respond-to(mobile) {
		margin-bottom: $cx-col-spacing-mob;
	}
	@extend %cx-transition;
	.thumb-icon {
		line-height: 0;
		margin-bottom: 0.8 * $cx-heading-margin-bottom;
		i {
			padding-top: 6px;
			font-size: 50px;
	    	// color: lighten($cx-text-color, 10%);
	    	color: darken($cx-secondary-color, 10%);
	    	text-align: center;
			@extend %cx-transition;
	    	@include box(64px,64px);
	    	@include cx-prefix('backface-visibility', 'hidden');
			@include respond-to(mobile) {
				padding-top: 6px;
			}
		}	
	}

	.info-content {
		p:last-child{
			margin: 0;
		}
	}

	&.boxed {
		padding:30px 20px;
		background: lighten($cx-text-color, 100%);
		border: 1px solid $cx-border-color;
		@include cx-box-shadow;
	}

	&.left-edged-icon {
		text-align: left;
		@include eqheight;
		.info-content-wrapper,
		.thumb-icon {
			vertical-align: top;
		}

		.thumb-icon {			
			i {
				position: relative;	
				margin: 0 10px;
				padding: 0;
			    font-size: 48px;
			    background: rgba($cx-secondary-color,0.1);
			    @include box(80px);
			    @include border-radius(50%);
			    @include cx-transition('transform ease-out 0.1s, background 0.2s')

			    &::after {
				    opacity: 0;
				    @include abs-position(0, 0, 0, 0);
				    @include border-radius(50%);
				    @include cx-prefix('transform', 'scale(0.9)');
				    @include cx-box-shadow('0 0 0 2px rgba($cx-secondary-color, 0.3)');
			    }

			}


			// i {
			// 	font-size: 50px;
			// 	@include respond-to(notebook) {
			// 		font-size: 44px;
			// 	}
			// }

			// @include respond-to(mobile) {
			// 	margin-bottom: 0;
			// 	padding: 20px;
			// }

		  //   &::after{
		  //   	@extend %cx-transition;
				// @include abs-position(0, auto, auto, 10px);
				// background-image: url('../img/service/circle.png');
				// background-size: contain;
				// background-repeat: no-repeat;	
				// opacity: 0.3;
				// width: 80px;
				// height: 80px;
				// @include respond-to(mobile) {
				// 	top: 20px;
				// 	left: 50%;
				// 	@include transform-translateX(-50%);
				// }
		  //   }
		}

		// @include media-only(768px, min) {
		// 	&:hover {
		// 		.thumb-icon {
		// 			&::after{
		// 				opacity: 0.1;
		// 				@include cx-prefix('transform', 'scale(0.8)');
		// 			}
		// 		}
		// 		i {
		// 			@include cx-prefix('transform', 'scale(1.4)');
		// 		}
		// 	}
		// }

		.info-content-wrapper {
			padding-left: 20px;
			padding-right: 20px;
		}
		@include respond-to(mobile) {
			text-align: center;
		}

		&:hover {
			i {
				border-color: transoparent;
			    background: rgba($cx-secondary-color, 0.05);
			    @include cx-prefix('transform', 'scale(0.92)');

			    &::after {
				    @include animation(sonarEffect 1.2s ease-out 100ms);
			    }
			}
		}

	    @include keyframes(sonarEffect) {
			0% {
				opacity: 0.3;
			}
			40% {
				opacity: 0.5;
				@include cx-box-shadow('0 0 0 2px ' + rgba($cx-secondary-color,0.1) + ', 0 0 10px 10px #fff, 0 0 0 10px ' + rgba($cx-secondary-color,0.5) + '');
			}
			100% {
				opacity: 0;
				@include cx-prefix('transform', 'scale(1.4)');
				@include cx-box-shadow('0 0 0 2px ' + rgba($cx-secondary-color,0.1) + ', 0 0 10px 10px #fff, 0 0 0 10px ' + rgba($cx-secondary-color,0.5) + '');
			}
	    }

	}

}
