/**
 * Components Social Share
 *
 */

#social-share-btn {
    position: relative;
    padding: 0;
    border: 0;
    @include box(44px);
    @include border-radius(0);

    &:hover,
    &:focus,
    &:active {
        border: 0;
        outline: 0;
        @include cx-box-shadow('none');
    }

    .popover {
        padding: 0;
        border: 0;
        @include cx-box-shadow('none');
        @include border-radius(0);
        .popover-content {
            width: 150px;
            height: 44px;
            margin: 0;
            padding: 0;
            position: relative;
            a {
                float: right;
                color: lighten($cx-text-color, 100%);
                text-align: center;
                background: $cx-grey-color;
                border-right: 1px solid lighten($cx-grey-color, 5%);
                @include box(44px);
                &.share-google-plus {
                    &::after {
                        border-left: 11px solid transparent;
                        border-right: 11px solid transparent;
                        border-top: 11px solid $cx-grey-color;
                        margin-top: -6px;
                        @extend %cx-transition;
                        @include cx-prefix('transform', 'rotate(90deg)');
                        @include abs-position(50%, auto, auto, 3px);
                    }
                }
                &:hover,
                &:focus {
                    background: lighten($cx-grey-color, 5%);
                    &.share-google-plus {
                        &::after {
                            border-top-color: lighten($cx-grey-color, 5%);
                        }
                    }
                }
                &:first-child {
                    border-right: 0;
                }
            }
        }
    }
}