/**
 * Components Pageloader
 *
 */

.cx-pageloader-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: lighten($cx-text-color, 100%);

    .cx-loader-inner {
        height: 20px;
        width: 250px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        .cx-loader {
            height: 20px;
            width: 20px;
            border-radius: 100%;
            background-color: #000;
            position: absolute;
            border: 2px solid lighten($cx-text-color, 100%);
            @include cx-prefix('animation', 'cx-dot-loader ease-in-out 3s infinite');

            &:first-child {
                background-color: $facebook-color;
                animation-delay: 0.5s;
            }

            &:nth-child(2) {
                background-color: $gplus-color;
                animation-delay: 0.4s;
            }

            &:nth-child(3) {
                background-color: $reddit-color;
                animation-delay: 0.3s;
            }

            &:nth-child(4) {
                background-color: $cx-fourth-color;
                animation-delay: 0.2s;
            }

            &:nth-child(5) {
                background-color: $cx-secondary-color;
                animation-delay: 0.1s;
            }

            &:nth-child(6) {
                background-color: $cx-primary-color;
                animation-delay: 0s;
            }
        }
    }
}

@include keyframes(cx-dot-loader) {
    15% {
        @include cx-prefix('transform', 'translateX(0)');
    }

    45% {
        @include cx-prefix('transform', 'translateX(230px)');
    }

    65% {
        @include cx-prefix('transform', 'translateX(230px)');
    }

    95% {
        @include cx-prefix('transform', 'translateX(0)');
    }
}