/**
 * Components Button
 *
 */

.default-btn {
	@include button;
	position: relative;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	@extend %cx-transition;
	@extend %color-white;
	&::before {
	    z-index: -1;
	    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	    -webkit-transform-origin: 0% 100%;
	    transform-origin: 0% 100%;
	    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}
	&:hover {
		&::before {
		    opacity: 1;
		    -webkit-transform: rotate3d(0, 0, 1, 0deg);
		    transform: rotate3d(0, 0, 1, 0deg);
		    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}
	}
	&.white-btn {
		position: relative;
		border-color: $cx-body-bg-color;
		@extend %cx-transition;
		@extend %color-white;
	    &:hover {
	        border-color: $cx-body-bg-color;
	        color: $cx-text-color;
	        &::before {
	            background: $cx-body-bg-color;
	        }
	    }
	}

	// @include respond-to(mobile) {
	// 	padding: 7px 15px;
	// 	font-size: 12px;
	// }
}

