/**
 * Components Social Icons
 *
 */

.social-icon {
	overflow:hidden ;
	a {
	    width: $cx-social-icon-size-small;
	    height: $cx-social-icon-size-small;
	    display: inline-block;
	    line-height: $cx-social-icon-size-small;
	    text-align: center;
	    margin-right: 5px;
	    color: $cx-text-color ;
	    float: left;
	    border-width: 1.2px;
	    border-style: solid;
	    border-color: transparent;
	    @extend %cx-transition ;
	    &:hover{
	    	border-color : $cx-primary-color;
	    	background:$cx-primary-color;
	    	color: $cx-body-bg-color ;
	    }
	    &:last-child{
	    	margin-right:0px;
	    }
	}

}

.social-icon-large {
	@extend .social-icon;
	a {
		width: $cx-social-icon-size-large;
		height: $cx-social-icon-size-large;
		line-height: $cx-social-icon-size-large;
		border-color: $cx-text-color;
		margin-right: 2px;
		@include respond-to(notebook) {
			width:28px;
			height:28px;
			line-height: 28px;	
		}

		i {
			font-size: 1em;
			// line-height: $cx-social-icon-size-large;
			display: block;
			@include respond-to(notebook) {
				line-height: 28px;
			}
		}
	}

}