/**
 * Components Service
 *
 */

.info-item {
	text-align:center;
	margin-bottom: $cx-col-spacing;
	@include respond-to(mobile) {
		margin-bottom: $cx-col-spacing-mob;
	}
	@extend %cx-transition;
	.thumb-icon {
		line-height: 0;
		margin-bottom: 0.8 * $cx-heading-margin-bottom;
		i {
			padding-top: 6px;
			font-size: 50px;
	    	// color: lighten($cx-text-color, 10%);
	    	color: darken($cx-secondary-color, 10%);
	    	text-align: center;
			@extend %cx-transition;
	    	@include box(64px,64px);
	    	@include cx-prefix('backface-visibility', 'hidden');
			@include respond-to(mobile) {
				padding-top: 6px;
			}
		}	
	}

	.info-content {
		p:last-child{
			margin: 0;
		}
	}

	&.boxed {
		padding: 30px;
		background: lighten($cx-text-color, 100%);
		border: 1px solid $cx-border-color;
		@include cx-box-shadow;

		.thumb-icon {		
			i {
				position: relative;	
				margin: 0 10px;
				padding: 0;
			    font-size: 40px;
			    background: rgba($cx-secondary-color,0.1);
			    @include box(80px);
			    @include border-radius(50%);
			    @include cx-transition('transform ease-out 0.1s, background 0.2s')

			    &::after {
				    opacity: 0;
				    @include abs-position(0, 0, 0, 0);
				    @include border-radius(50%);
				    @include cx-prefix('transform', 'scale(0.9)');
				    @include cx-box-shadow('0 0 0 2px ' + rgba($cx-secondary-color, 0.3));
			    }

			}

		}


		&:hover {
			i {
				border-color: transoparent;
			    background: rgba($cx-secondary-color, 1);
			    color: #fff;
			    @include cx-prefix('transform', 'scale(0.92)');

			    &::after {
				    @include animation(sonarEffect 1.2s ease-out);
			    }
			}
		}

	    @include keyframes(sonarEffect) {
			0% {
				opacity: 0.3;
			}
			40% {
				opacity: 0.5;
				@include cx-box-shadow('0 0 0 2px ' + rgba($cx-secondary-color,0.5) + ', 0 0 10px 10px #fff, 0 0 0 10px ' + rgba($cx-secondary-color,0.7) + '');
			}
			100% {
				opacity: 0;
				@include cx-prefix('transform', 'scale(1.4)');
				@include cx-box-shadow('0 0 0 2px ' + rgba($cx-secondary-color,0.5) + ', 0 0 10px 10px #fff, 0 0 0 10px ' + rgba($cx-secondary-color,0.7) + '');
			}
	    }
	}

	&.left-edged-icon {
		text-align: left;
		@include eqheight;
		.info-content-wrapper,
		.thumb-icon {
			vertical-align: top;
		}

		.info-content-wrapper {
			padding-left: 20px;
			padding-right: 20px;
		}
		@include respond-to(mobile) {
			text-align: center;
		}

		&.last {
			@extend %mb0;
		}

		i {
			font-size: 40px;
			padding-top: 0;
		}

	}

	&.border-collapsed {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 0;
		padding:35px 30px;

		h3 {
			position: relative;
			display: inline-block;
			@extend %cx-transition;

			&::before {
				background: rgba($cx-primary-color, 0.25);
				width: 0;
				@include abs-position(-5px, auto, -5px, -10px);
				@include border-radius(4px);
				@extend %cx-transition;
			}
		}

		i {
			padding: 0;
			font-size: 40px;
			background: $cx-secondary-color;
			color: lighten($cx-text-color, 100%);
			border: 2px solid $cx-secondary-color;
			@include border-radius(50%);
			@include box(70px);
			line-height: 68px;

		}

		&:hover {
			h3 {
				color: $cx-tertiary-color;
				&::before {
					right: 0;
					width: calc(100% + 20px);
				}
			}
			i {
				@include transform-translateY(-8px);
				@extend .spreaded-shadow;
			}
		}

		@include media-only(993px, max) {
			padding-top:0;
			padding-bottom: 0;
			margin-bottom: $cx-col-spacing;
		}
		
		@include respond-to(mobile) {
			margin-bottom: $cx-col-spacing-mob;
		}
	}

	&.white-text {
		p,
		i {
			color: lighten($cx-text-color, 100%);
		}

		h3 {
			color: $cx-secondary-color;
		}
	}

}
