/**
 * Components Simple Image Slider
 *
 */

.simple-slider-container {
	position: relative;
	@include cx-box-shadow;
	&::before {
		z-index: 2;
		@include abs-position(0, 0, 0, 0);
		@include bcg-linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, 0.35))
	}

	.swiper-pagination-bullet {
		background: lighten($cx-text-color, 100%);
		width: 15px;
		@include border-radius(0);
		@extend %cx-transition;
		&.swiper-pagination-bullet-active {
			width: 26px;
		}
	}

	.image-placeholder {
		min-height: 420px;
		@include respond-to(notebook) {
			min-height: 450px;
		}
		@include media-only(small-mobile, max) {
			min-height: 300px;
		}
	}

	.carousel-arrow {
		opacity: 0;
		width: 34px;
		z-index: 2;
		@extend %cx-transition;

		@include respond-to(mobile) {
			opacity: 1;
		}

		&.arrow-left {
			left: 0;
			top: 50%;
			@include transform-translateY(-50%);

			&::before {
				right: 2px;
			}
		}

		&.arrow-right {
			left: auto;
			right: 0;
			top: 50%;
			@include transform-translateY(-50%);

			&::before {
				left: 2px;
			}
		}
	}

	&:hover {
		.carousel-arrow {
			opacity: 1;
		}
	}

	&.with-arrow {
		&::before {
			content: none;
		}

		.carousel-arrow {
			&.arrow-left {
				margin-left: 0;
			}
			&.arrow-right {
				margin-right: 0;
			}
		}
	}

	@include media-only(notebook, max) {
		margin-bottom: $cx-col-spacing-mob;
	}
}