/**
 * Components Portfolio
 *
 */

.portfolio-item {
	position: relative;
	// overflow: hidden;
	.img {
		display: block;
		position:relative;
		cursor: default;
		&:before{
			@include abs-position(0,0,0,0);
		    background: rgba(darken($cx-primary-color,100%), 0.70);
		    color: lighten($cx-primary-color,100%);
		    opacity: 0 ;
			@extend %cx-transition;
			@include respond-to(mobile) {
				opacity: 1;
			}
		}
		span {
			overflow: hidden;
		}
		i {
			@include  abs-position(10px,10px,auto,auto);
			cursor: pointer;
			opacity: 0;
		    color: $cx-offset-color;
		    padding: 15px;
		    will-change: transform;
		    @include transform-translateX(100%);
		    @include cx-prefix('transition', 'all 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85)');
			@include respond-to(mobile) {
				opacity: 1;
				@include transform-translateX(0);
			}
		}
		
		img {
			width: 100%;
		}
	}

	&:hover{
		.img {
			overflow: hidden;
			&::before{
				opacity: 1;
			}
		}
		i {
			opacity: 1;
			@include transform-translateX(0);
		}
		.portfolio-mini-desc {
			opacity: 1;
			span {
				@include transform-translateY(0);
			}
		}
	}
	@include respond-to(large-mobile) {
		margin-bottom: 0;
		width:50%;
	}

	@include respond-to(small-mobile) {
		margin-bottom: 15px;
	}
}

.portfolio-wrapper {
	.portfolio-item {
		@include respond-to(small-mobile) {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


.portfolio-mini-desc {
	opacity: 0;
	color: lighten($cx-primary-color,100%);
	@include cx-centered(both);
	max-width: 80%;
	text-align: center;
	@include media-only(wide, max) {
		max-width: 90%;
		width: 90%;
		padding-left: 10px;
		padding-right: 10px;
	}
	@include respond-to(mobile) {
		opacity: 1;
	}
	@extend %cx-transition;
		@include respond-to(mobile) {
			padding:30px;
		};
	h3,
	p{
		overflow: hidden;
	}
	span {
	    display: block;
	    will-change: transform;
	    @include transform-translateY(100%);
	    @include cx-prefix('transition', 'all 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85)');
		@include respond-to(mobile) {
			@include transform-translateY(0);
		}
	}

	h3 {
		text-transform: uppercase;
		position:relative;
		padding-top: 15px;
		padding-bottom: 0;
		font-size: 1rem;
		letter-spacing: 2px;
		font-weight: 700;
		@extend %mb0;
		&:after{
			height: 3px;
		}

		@include respond-to(notebook) {
			font-size: 16px;
			letter-spacing: 2px;
		}

		@include respond-to(mobile) {
			font-size: 14px;
			letter-spacing: 1px;
		}

		+ p {
			margin-top: 5px;
		}	
	}
	
	a{
		color: $cx-secondary-color ; 
	}
	p{
	    margin: 0;
	    text-transform: capitalize;
	    font-size: calculateRem(14.5px);
	    letter-spacing: .05em;
	    span {
	    	transition-delay: 0.2s;
	    }
	    @include respond-to(mobile) {
	    	font-size: 13px;
	    }
	}
}

.portfolio-filter {
	ul {
		margin-bottom: 0.33 * $cx-section-spacing;

		li {
			cursor: pointer;
			position: relative;
			padding: 7px 0;
			margin: 0 15px;
		    font-size: calculateRem(13px);
		    font-weight: 700;
		    letter-spacing: 0.5px;
		    text-transform: uppercase;
			@extend %cx-transition;

			&::before {
			    background: $cx-secondary-color;
			    height: 2px;
			    width: 0;
			    @include abs-position(auto, auto, -2px, 0);
			    @extend %cx-transition;
			    @include media-only(small-mobile, max) {
			    	content: none;
			    }
			}

			&.active,
			&:hover {
				color: $cx-secondary-color;
				&::before {
					width: 100%;
				}
			}

		}

		@include media-only(small-mobile, max) {
			margin-left: 0;
			overflow: hidden;
		}
	}

	&.type-2 {
		li {
			padding: 3px 0;
			line-height: 1.4em;
			&::before {
				background: $cx-tertiary-color;
			}
			&::after {
			    background: $cx-tertiary-color;
			    height: 2px;
			    width: 0;
			    @include abs-position(-2px, 0, auto, auto);
			    @extend %cx-transition;
			}

			&.active,
			&:hover {
				color: $cx-tertiary-color;
				&::after {
					width: 100%;
				}
			}

			&.active {
				color: $cx-secondary-color;

				&::before,
				&::after {
					background: $cx-secondary-color;
				}
			}
			@include media-only(small-mobile, max) {
				padding: 5px 0;
				&::before,
				&::after {
					content: none;
				}
			}
		}
	}

	&.type-3 {
		li {
			margin: 0 5px;
			padding: 8px 12px;
			background: $cx-grey-color;
			color: lighten($cx-text-color, 100%);
			font-size: calculateRem(12px);
			@extend %rounded-corners;
			@extend %cx-transition;

			&::before {
				content: none;
			}

			&.active,
			&:hover {
				background: $cx-secondary-color;
				color: lighten($cx-text-color, 100%);
			}

			&:hover {
				@include transform-translateY(-3px);
				@extend .spreaded-shadow;
				@include respond-to(mobile) {
					@include transform-translateY(0);
				}
			}
		}
	}

	ul{
		&.list-inline {
			li {
				@include respond-to(mobile) {
					margin-bottom: 8px;
					padding:6px 10px;
				}

				@include media-only(small-mobile, max) {
				    width: 48%;
				    margin: 0 1% 5px;
				    display: block;
				    float: left;
				}
			}
		}
	}
}

.portfolio-wrapper {
	&.hover-effect-type-2 {
		.img {
			&::before {
				content: none;
			}

			i {
				background: rgba($cx-tertiary-color, 0.95);
				padding: 10px;
				top: 15px;
				right: 15px;
				@include border-radius(50%);
				@include transform-translateY(-100px);
				@include respond-to(mobile) {
					opacity: 1;
					@include transform-translateY(0);
				}
			}
		}

		.portfolio-mini-desc {
			opacity: 1;
			width: 100%;
			max-width: 100%;
			min-height: 100px;
			padding: 25px;
			background: rgba($cx-tertiary-color, 0.95);
			@include abs-position(auto, 0, 0, 0);
			@include transform-translateY(110px);
			@include media-only(notebook, max) {
				min-height: auto;
			}
			@include respond-to(mobile) {
				padding: 15px;
				@include transform-translateY(0);
			}

			h3 {
				font-size: calculateRem(17px);
				letter-spacing: 0.5px;
				padding-top: 0;
				line-height: 1.5;
				@include respond-to(mobile) {
					font-size: calculateRem(15px);
				}
			}
		}

		figure {
			overflow: hidden;
			&:hover {
				i {
					@include transform-translateY(0);
				}
				.portfolio-mini-desc {
					@include transform-translateY(0);
				}
			}
		}

		span {
		    @include cx-prefix('transform', 'none');
		}
	}

	&.hover-effect-type-3 {
		.portfolio-item {
			.img {
				&::before {
					content: none;
				}

				i {
					opacity: 0;
				}
			}
		}

		figcaption {
		    top: auto;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    max-width: 100%;
		    padding: 1.2 * $cx-heading-margin-bottom;
		    opacity: 1;
		    min-height: 70px;
		    background: lighten($cx-text-color, 100%);
		    color: $cx-text-color;
		    margin-bottom: -1px;
		    @include cx-prefix('transform', 'translate3d(0,110%,0)');
		    @include cx-box-shadow('0 0 35px 0px rgba(0, 0, 0, 0.15)');
		    @include respond-to(notebook) {
		    	padding: $cx-heading-margin-bottom;;
		    }
		    @include respond-to(mobile) {
		    	padding: 7px;
		    	@include cx-prefix('transform', 'translate3d(0,0,0)');
		    }

		    h3 {
	    	    display: inline-block;
	    	    font-size: calculateRem(21px);
    	        float: left;
    	        margin: 0;
	            word-spacing: -0.15em;
			    font-weight: 400;
			    padding-top: 3px;
			    a {
			    	color: $cx-text-color;
			    }
    	        span {
    	        	font-weight: 700;
    	        	display: inline-block;
					color: $cx-secondary-color;
    	        }
    	        @include respond-to(notebook) {
    	        	font-size: 1rem;
    	        	padding-top: 6px;
    	        }
    	        @include respond-to(mobile) {
				    font-size: 1rem;
				    float: none;
				    width: 100%;
    	        }
		    }

		    h3,
		    span {
    	        @include cx-transition('transform 0.35s');
    	        @include cx-prefix('transform', 'translate3d(0,200%,0)');
    	        @include respond-to(mobile) {
    	        	@include cx-prefix('transform', 'translate3d(0,0,0)');
    	        }
		    }

		    .icon-links {
				letter-spacing: 1px;
			    float: right;
			    display: inline-block;
			    @include respond-to(mobile) {
					font-size: 12px;
					margin-top: 5px;
					float: none;
			    }
			    span {
			    	display: inline-block;
			    	font-size: calculateRem(14px);
			    	margin-right: 20px;
			    	cursor: pointer;
					@include box(31px);
					border: 1.2px solid $cx-text-color;
					line-height: 30px;
					@include border-radius(50%);
					@include respond-to(notebook) {
						margin-right: 10px;
					}

					@include respond-to(mobile) {
					    width: 28px;
					    height: 28px;
					    line-height: 26px;
					}
			    	
			    	&:last-child {
			    		margin-right: 0;
			    	}

			    	a {
			    		color: $cx-text-color;
			    	}
			    }
		    }
		}

		.portfolio-item {
			&:hover {
				figcaption,
				h3,
				a {
				    @include cx-prefix('transform', 'translate3d(0,0,0)');
				}

				h2 {
				    @include cx-prefix('transition-delay', '0.05s');
				}

				.icon-links {
					span {
						&:first-child {
							@include cx-prefix('transition-delay', '0.15s');
						}
						&:last-child {
							@include cx-prefix('transition-delay', '0.25s');
						}
					}
				}
			}
		}
	}

	&.with-gutter {
		margin-right: -15px;
		margin-bottom: -15px;
		.portfolio-item {
			padding-right: 15px;
			margin-bottom: 15px;
		}

		.portfolio-mini-desc {
			max-width: calc(100% - 15px);
		}
	}

	&.single {
		margin-left: -15px;
	}
}