/**
 * Components Tabs
 *
 */

.tab {
	.nav {
		margin-bottom: $cx-heading-margin-bottom;
		border-bottom: 0;
	}
	.nav-tabs {
		> li {
		    margin-right: 15px;
		    &:last-child {
		    	margin-right: 0;
		    }
		    @include respond-to(notebook) {
				margin-right: 10px;
		    }
			> a,
			a:focus,
			a:hover {
				@extend %bgc-transparent;
				@include cx-prefix('border-radius', 0);
			}
			a:hover {
				border-color: $cx-primary-color;
			}
			> a {
				min-width: 120px;
			    border-width: 1.2px;
			    border-style: solid;
			    border-color: $cx-text-color;
			    padding-top: 9px;
			    padding-bottom: 9px;
			    letter-spacing: 1px;
			    @include respond-to(notebook) {
			    	min-width: auto;
			    }
			}
			&.active {
				> a,
				a:focus,
				a:hover {
					border-color: $cx-primary-color;
					background: $cx-primary-color;
					border-width: 1.2px;
					@extend %color-white;
					@include cx-prefix('border-radius', 0);
				}
				> a:hover {
					@extend %color-white;
				}

			}

			@include media-only(small-mobile, max) {
				width: 100%;
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}

	.tab-pane p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&.iconic-tab {
		> .nav-tabs {
			li {
				margin-right: 0;
				padding-right: $cx-section-spacing;
				color: $cx-primary-color;
				border-color: $cx-primary-color;
				position: relative;
				a {
					&.first {
						background: $cx-primary-color;
						border-color: $cx-primary-color;
					}

					&.second {
						background: $cx-secondary-color;
						border-color: $cx-secondary-color;
					}

					&.third {
						background: $cx-grey-color;
						border-color: $cx-grey-color;
					}

					&.fourth {
						background: $cx-primary-color;
						border-color: $cx-primary-color;
					}

					&.fifth {
						background: $cx-secondary-color;
						border-color: $cx-secondary-color;
					}

					&.sixth {
						background: $cx-grey-color;
						border-color: $cx-grey-color;
					}

					&:hover,
					&:focus {
						background: inherit;
						border-color: inherit;
						color: inherit;
					}
				}
				&.active,
				&:hover,
				&:focus {
					> a {
					    min-width: 0;
					    margin: 0;
					    padding: 0;
					    font-size: 30px;
					    @include box(60px);
					    @include border-radius(50%);
					}
				}

				@extend .active;

				&::before,
				&::after {
				    position: absolute;
				    height: 3px;
				    border-top: 3px dotted $cx-text-color;
				    content: "";
				    top: 50%;
				    left: 60px;
				    right: 7px;
				}

				&::before {
					color: $cx-text-color;
				    width: auto;
				    height: auto;
				    font-family: 'FontAwesome';
				    content: "\f105";
				    border: none;
				    top: 18.5px;
				    left: auto;
				    right: 0;
				    font-size: 24px;
				    line-height: 24px;
				}

				&:last-child {
					padding-right: 0;
					&::before,
					&::after {
						content: none;
					}
				}
			}
		}

		@include media-only(small-mobile, max) {
			> .nav {
				&.nav-tabs {
					> li {
						width: auto;
						padding-right: 40px;
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	h3 {
		text-transform: Capitalize;
	    font-weight: 600;
	    font-size: calculateRem(20px);
        text-decoration: underline;
	}

	&.white-text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: $cx-offset-color;
		}

		&:not(.iconic-tab) {
			> .nav-tabs {
				> li {
					> a {
						color: $cx-offset-color;
						border-color: $cx-offset-color;

						&.active,
						&:hover,
						&:focus {
							border-color: $cx-primary-color;
						}
					}
				}
			}
		}

		&.iconic-tab {
			> .nav-tabs {
				li {
					&::before,
					&::after {
						border-color: $cx-offset-color;
					}

					&::before {
						color: $cx-offset-color;
					}

					&.active,
					&:hover,
					&:focus {
						border-color: $cx-offset-color;
						color: $cx-offset-color;
					}

				}
			}
		}
	}

	&.type-2 {
		.nav-tabs {
			text-align: center;
		    margin: -2px;
		    margin-bottom: -4px;
			@extend %vhcenter;

			@include respond-to(mobile) {
			    display: block;
			    overflow: hidden;
			    margin: 0 0 10px;
			}

			> li {
				margin-top: 2px;
				margin-bottom: 2px;
				margin-right: 20px;
				min-width: 180px;
				z-index: 1;

				&:last-child {
					margin-right: 0;
				}
				&.active {
					> a {
						background: lighten($cx-text-color, 100%);
						border: 2px solid $cx-primary-color;
					    color: inherit;
					    position: relative;
					    @extend %cx-transition;

					    &::after {
						    height: 6px;
						    background: lighten($cx-text-color, 100%);
						    color: lighten($cx-text-color, 100%);
						    width: 99.8%;
						    @include abs-position(auto, auto, -4px, 0.4px);
					    }
					}
				}

				> a {
				    padding: 11px 20px;
				    background-color: $cx-primary-color;
				    color: lighten($cx-text-color, 100%);
				    border: 2px solid $cx-primary-color;
				    font-weight: 600;
				    font-size: calculateRem(15px);
				    letter-spacing: .5px;
				    text-transform: uppercase;
				}

				@include respond-to(notebook) {
					min-width: 160px;
					margin-right: 10px;
				}

				@include respond-to(tablet) {
					min-width: 120px;
					margin-right: 10px;
				}

				@include respond-to(mobile) {
					width: 100%;
					margin-right: 0;
					&.active {
						> a {
							&::after {
								content: none;
							}
						}
					}
				}
			}
		}

		.tab-content {
		    border: 2px solid $cx-primary-color;
		    overflow: hidden;
		    padding: 50px;
		    position: relative;
		    @extend %cx-transition;
		    @extend %bgc-white;
		    @include respond-to(mobile) {
		    	padding: 30px;
		    }
		    @include media-only(small-mobile, max) {
		    	padding: 15px;
		    }

		    .tab-content-heading {
				h2 {
			    	font-weight: 400;
				    text-transform: capitalize;
				}
		    }
		}
	}
}