/**
 * Components Blog-list
 *
 */

.post-single {
	@include cx-box-shadow('5px 5px 25px 0 rgba(46,61,73,.2);');

	.post-media {
		position: relative;
	    overflow: hidden;

	    img {
	    	@extend %cx-transition;
	    	@include cx-prefix('backface-visibility', 'hidden');
	    }
	}

	.post-content {
		padding: 0.45 * $cx-section-spacing;
		@include respond-to(mobile) {
			padding: 30px;
		}
		@include media-only(small-mobile, max) {
			padding: 20px;
		}
	}

	.post-meta {
		p {
			margin-bottom: 10px;
			font-size: calculateRem(14px);
			font-style: italic;

			.single-meta {
				margin-right: 10px;
				@include media-only(small-mobile, max) {
					margin-right: 6px;
				}
			}
		}
	}

	.post-title {
		font-size: calculateRem(24px);
		text-transform: uppercase;

		a {
			color: $cx-text-color;

			&:hover {
				color: $cx-secondary-color;
			}
		}
	}

	.post-footer {
		text-align: left;
		padding-top: 10px;

		.default-btn {
		    min-width: 130px;
		    padding: 12px 20px;
		}
	}

	.post-like,
	.post-share,
	.post-comments {
	    background-color: rgba(0,0,0,.1);
	    position: relative;
	    float: right;
	    margin-left: 15px;
	    text-align: center;
	    display: table;
	    font-size: 20px;
	    border: 0;
		@include box(44px);
		@extend %cx-transition;
	}

	.post-share {
		&:hover {
			background-color: rgba(0,0,0,.2);
		}
	}

	.like-count,
	.comment-count {
	    position: absolute;
	    right: -8px;
	    top: -8px;
	    font-weight: 700;
	    color: lighten($cx-text-color, 100%);
	    font-size: 11px;
	    height: 20px;
	    padding: 0 7px;
	    line-height: 20px;
	    @include border-radius(30px);
	    @extend %bgc-primary;
	}

	&:hover {
		.post-media {
			img {
				@include cx-prefix('transform', 'scale(1.1)');
				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					/* IE10+ CSS styles */
					@include cx-prefix('transform', 'none');
				}
			}
		}
	}

	.simple-slider-container {
		@extend %mb0
	}

	@include media-only(small-mobile, max) {
		.post-categories {
			display: none;
		}
	}
}
