/**
 * Components Call to action
 *
 */

.cta-centered {
	text-align: center;

	p {
		font-size: calculateRem(20px);
		font-weight: 300;
		margin-bottom: 1.2 * $cx-heading-margin-bottom; 
		a {
			font-weight: 600;
			font-size: 1.1em;
			color: $cx-secondary-color;
			&:hover {
				color: $cx-primary-color;
			}
		}
	}

	h2 {
		@include respond-to(mobile) {
			font-size: 24px;
		}
	}

	.video-overlay {
		height: 500px;
		// @extend %overlay;
		@include cx-overlay(rgba(0, 0, 0, 0.7));

		video {
		    z-index: -1;
		    @include abs-position(auto, 0, -50%, 0);
		}
	}

	.video-caption {
		z-index: 10;
		@include abs-position(50%, 0, auto, 0);
		@include transform-translateY(-50%);
	}

	&.white-text,
	.white-text {
		@extend %color-white;
	}
}

// .cta-centered,
// .cta-split {
// 	.default-btn {
// 		border-color: $cx-secondary-color;
// 		background: $cx-secondary-color;
// 		color: lighten($cx-text-color, 100%);
// 		&:hover {
// 			border-color: $cx-primary-color;
// 		}

// 	}
// }