/**
 * Components Comments
 *
 */

.comments-area {

	.comment-list {
		&.nested {
			overflow: hidden;
		    width: 100%;
		    padding-top: 20px;
		    padding-left: 50px;
		}
	}

	ol {
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 20px;
			list-style-type: none;
			.comment-author-thumb {
				width:110px;
				img {
					max-width:100%;
					padding: 3px;
					border: 1px solid $cx-border-color;
				}
				float: left;
				padding-right:20px;
				@include respond-to(large-mobile) {
					width: 100px;
				}

				@include respond-to(small-mobile) {
					width: 80px;
				}
			}

			.comment-content {
				width:calc(100% - 120px);
				padding: 20px;
				float: right;
				background: darken($cx-offset-color, 2%);
				position: relative;
				&::before {
					@include cx-triangle(darken($cx-offset-color, 2%), left, 12px);
					left: 0;
					top: 30px;
				}
				.comment-author-name {
					font-weight: bold;
					margin-bottom: 3px;
					a {
						color: $cx-text-color;
						&:hover {
							color: $cx-link-hover-color;
						}
					}
				}

				@include respond-to(large-mobile) {
					width: calc(100% - 100px);
				}

				@include respond-to(small-mobile) {
					width: calc(100% - 80px);
				}
			}
			@extend %clearfix;
		}
	}

	& > ol {
		margin-bottom: $cx-col-spacing;
		@include respond-to(mobile) {
			margin-bottom: $cx-col-spacing-mob;
		}
	}

	.comment-author-thumb img {
		@include border-radius(50%);
	}

	.comment-meta {
		font-size: calculateRem(13.5px);
    	line-height: 1.6em;
		a {
			color: $cx-text-color;
			&:hover {
				color: $cx-link-hover-color;
			}
		}
		text-align: right;
		span {
			display: inline-block;
			&.comment-edit {
				padding-right: 15px;
			}

			&.comment-reply {
				position: relative;
				&::before {
					content:"\f0da";
					font-family: FontAwesome;
					position: relative;
					left: 0;
					top: 0;
					padding-right: 7px;

				}
			}
		}

		@include respond-to(mobile) {
			text-align: left;
		}
	}

	.comment-form {
		input,
		textarea {
			width:100%;
		}
	}
}