/**
 * Components Blog-grid
 *
 */

.blog-item-grid {
	overflow: hidden;
	border: 1px solid $cx-border-color;
	@extend %mb-half;
	@include cx-box-shadow;
	.post-media {
		width: 180px;
		height: 180px;
	    margin-right: 16px;
	    @include cx-prefix('flex-shrink', '0');
	}

	.post-content {
	    padding: 12px 0px;
	    -webkit-box-pack: justify;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    @include cx-prefix('flex-direction', 'column');
	    @include cx-prefix('justify-content', 'space-between');
	    @include flex;

	    .post-date,
	    .post-author {
			font-size: calculateRem(14px);
		    line-height: 19px;
		    color: $cx-grey-color;
		    font-style: italic;
		    letter-spacing: 0.5px;
	    }

	    .post-title {
			font-size: calculateRem(20px);
			color: $cx-text-color;
		    font-weight: 500;
		    margin-bottom: 8px;
		    @include cx-truncation(3, 1.5, $cx-offset-color);
		    @include respond-to(notebook) {
		    	font-size: calculateRem(18px);
		    }
	    }

	    .post-author {
	    	span {
	    		color: $cx-text-color;
	    		padding-left: 4px;
	    	}
	    }
	}

	.default-btn,
	.animated-btn {
	    opacity: 0;
	    z-index: 2;
	    @include cx-centered(both);
	}

	.flex-wrapper {
		padding: 18px;
		background: $cx-offset-color;
		@include flex;
		@include cx-overlay(rgba(255, 255, 255, 0.9));
		&::before {
			@extend %cx-transition;
			opacity: 0;
			z-index: 1;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
			.default-btn,
			.animated-btn {
				opacity: 1;
			}
		}
	}

	@include media-only(small-mobile, max) {
		.flex-wrapper {
			display: block;
			text-align: center;
		}

		.post-media {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.blog-grid {
	background: lighten($cx-text-color, 100%);
	@include cx-box-shadow;
	@extend %mb-half;
	.content-wrapper,
	.post-media {
		position: relative;
	}

	.post-media {
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			@include cx-prefix('backface-visibility', 'hidden');
			@extend %cx-transition;
		}
	}

	.post-content {
		padding: 30px;
		@include respond-to(notebook) {
			padding: 20px;
		}

		@include media-only(small-mobile, max) {
			padding: 20px;
		}

		h3 {
		    font-size: calculateRem(24px);
		    font-weight: 600;
		    margin-bottom: 15px;
		    color: $cx-text-color;
			@include cx-truncation(2, 1.5, #fff);
			@include respond-to(notebook) {
				font-size: calculateRem(22px);
			}
		}

		p {
			color: lighten($cx-text-color, 15%);
		    margin-bottom: 8px;
		    @include cx-truncation(3, 1.6, #fff);
		}
	}

	.post-category {
	    position: absolute;
	    top: 20px;
	    left: 30px;
	    z-index: 101;

		@include respond-to(notebook) {
			left: 20px;
		}

		@include media-only(small-mobile, max) {
			left: 20px;
		}

	    a {
		    padding: 5px;
		    color: lighten($cx-text-color, 100%);
		    text-transform: uppercase;
		    font-size: calculateRem(12.3px);
		    font-weight: 700;
		    margin-right: 10px;
		    border: 2px solid darken( $cx-secondary-color, 10%);
		    background: darken( $cx-secondary-color, 10%);

		    &:hover {
		    	background: darken( $cx-primary-color, 10%);
		    	border-color: darken( $cx-primary-color, 10%);
		    }
	    }
	}

	.post-date,
	.post-meta {
		font-size: calculateRem(14px);
	}

	.post-date {
		color: lighten($cx-text-color, 15%);
	}

	.post-meta {
	    padding: 12px 30px;
	    position: relative;
	    border-top: 1px solid lighten($cx-border-color, 3%);

		@include respond-to(notebook) {
			padding: 12px 20px;
		}

		@include media-only(small-mobile, max) {
			padding: 12px 20px;
		}

	    > span {
	    	color: lighten($cx-text-color, 15%);
	    	margin-right: 15px;
	    	&:nth-child(2) {
	    		margin-right: 0;
	    	}
	    }

	    .post-comment,
	    .post-like {
	    	float: right;
	    }

	    i {
	    	margin-right: 7px;
	    }
	}

	&:hover {
		.post-media {
			img {
				@include cx-prefix('transform', 'scale(1.1)');
			}
		}
	}
	
	&.type-2 {
		overflow: hidden;
		@include cx-box-shadow('5px 5px 25px 0 rgba(46,61,73,.2);')
		.post-media {
			&::before {
			    background: $cx-secondary-color;
			    height: 4px;
			    width: 0;
			    z-index: 2;
			    @include abs-position(0, auto, auto, 0);
			    @extend %cx-transition;
			}
		}
		.post-category {
			position: static;
			display: block;
			margin-bottom: 0.4 * $cx-heading-margin-bottom;

			a {
				border: none;
				background: transparent;
				color: $cx-secondary-color;
				padding: 0;
				padding-bottom: 3px;
				text-transform: capitalize;
				position: relative;
				font-size: calculateRem(14px);
				margin-right: 0.8 * $cx-heading-margin-bottom;;

				&::before {
				    background: $cx-primary-color;
				    height: 2px;
				    width: 0;
				    @include abs-position(auto, auto, -2px, 0);
				    @extend %cx-transition;
				}

				&:hover {
					color: $cx-primary-color;

					&::before {
						width: 100%;
					}
				}

			}
		}

		.post-content {
			h3 {
			    text-transform: Capitalize;
			    letter-spacing: 0;
			    font-size: calculateRem(24px);
			    font-weight: 500;
			}

			p {
				color: $cx-text-color;
			}
		}

		.post-meta {
			border: 0;
			padding-bottom: 35px;
			@extend %pt0;

			.author-avatar {
				display: inline-block;
				float: left;
				img {
					@include box(45px);
					@include border-radius(50%);
				}
			}

			.post-author {
				> span {
					color: $cx-text-color;
					display: block;
					line-height: 1.4em;
				}

				.author {
					font-size: calculateRem(16px);
					font-weight: 700;
					text-transform: capitalize;
				}

				.post-date {
					font-size: calculateRem(15px);
					opacity: 0.9;
					font-style: italic;
				}
			}
		}

		&:hover {
			.post-media {
				&::before {
					width: 100%;
				}
			}
		}
	}
}