/**
 * Components Social-icons
 *
 */

.social-icon {
	overflow:hidden ;
	a {
	    width: $cx-social-icon-size-small;
	    height: $cx-social-icon-size-small;
	    display: inline-block;
	    line-height: $cx-social-icon-size-small;
	    text-align: center;
	    margin-right: 5px;
	    color: $cx-text-color ;
	    float: left;
	    border-width: 1.2px;
	    border-style: solid;
	    border-color: transparent;
	    @extend %cx-transition ;
	    &:hover{
	    	border-color : $cx-primary-color;
	    	background:$cx-primary-color;
	    	color: $cx-body-bg-color ;
	    }
	    &:last-child{
	    	margin-right:0px;
	    }
	}

}

.social-icon-large {
	@extend .social-icon;
	a {
		width: $cx-social-icon-size-large;
		height: $cx-social-icon-size-large;
		line-height: $cx-social-icon-size-large;
		border-color: $cx-text-color;
		margin-right: 2px;
		@include respond-to(notebook) {
			width:28px;
			height:28px;
			line-height: 28px;	
		}

		i {
			font-size: 1rem;
			line-height: $cx-social-icon-size-large;
			display: block;
			@include respond-to(notebook) {
				line-height: 28px;
				font-size: calculateRem(14px);
			}
		}
	}

}

.social-icons {
	p {
		display: inline-block;
    	float: left;
    	margin-right: 20px;
    	line-height: 36px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			margin-bottom: 10px;
			a {
				margin-right: 10px;
				color: lighten($cx-text-color, 100%);
				font-size: calculateRem(17px);
				@include box(42px);
				@include border-radius(50%);
				&.facebook {
					background: $facebook-color;
					&:hover {
						background: darken($facebook-color, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.twitter {
					background: $twitter-color;
					&:hover {
						background: darken($twitter-color, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.google-plus {
					background: $gplus-color;
					&:hover {
						background: darken($gplus-color, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.instagram {
					background: $instagram-color;
					&:hover {
						background: darken($instagram-color, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.pinterest {
					background: $pinterest-color;
					&:hover {
						background: darken($pinterest-color, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.linkedin {
					background: $linkedin-color;
					&:hover {
						background: darken($linkedin-color, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}

			}

			&:last-child {
				a {
					margin-right: 0;
				}
			}

			@include respond-to(small-mobile) {
				margin-bottom: 10px;
			}
		}
	}
}