/**
 * Components Newsletter
 *
 */

.newsletter-form-wrapper {
	@extend %vhcenter;

    form {
	    max-width: 520px;
	    padding: 20px;
	    background-color: rgba(0,0,0,0.25);
	    @extend %vhcenter;

		select,
		textarea,
		input {
			color: $cx-text-color;
		}

	    input {
			width: 280px;
		    margin-right: 10px;
		    margin-bottom: 0;
	    }

		input[type="submit"] {
			color: lighten($cx-text-color, 100%);
		}

		@include respond-to(mobile) {
			max-width: 400px;
		}
    }

    @include media-only(small-mobile, max) {
    	display: block;

    	form {
    		display: block;
    		max-width: 100%;

    		input {
    			width: 100%;
    			max-width: 100%;
    		}

    		input:not([type="submit"]) {
    			margin-bottom: 15px;
    		}
    	}
    }
}