/**
 * Components Widgets
 *
 */

.sidebar-widget {
	padding-top: 0.7 * $cx-col-spacing;
	padding-bottom: 0.7 * $cx-col-spacing;
	border-bottom: 1px dashed $cx-border-color;

	.widgettitle {
	    font-size: calculateRem(22px);
	    font-weight: 500;
	    text-transform: capitalize;
	    color: $cx-primary-color;
	    position: relative;
	    padding-left: 20px;
	    &::before,
	    &::after {
			background: $cx-primary-color;
	    }

	    &::before {
			width: 1.5px;
			@include abs-position(0, auto, 0, 0);
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				/* IE10+ CSS styles */
				width: 1.2px;
			}
	    }

	    &::after {
			width: 1.2px;
			@include abs-position(5px, auto, 5px, 5px);
	    }
	}
	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}

	@include respond-to(mobile) {
		padding-top: $cx-col-spacing-mob;
		padding-bottom: $cx-col-spacing-mob;
	}

	p {
		&:last-of-type {
			@extend %mb0;
		}
	}

	::-webkit-input-placeholder {
	  color: lighten($cx-text-color, 20%);
	  font-size: 0.85rem;
	}
	::-moz-placeholder {
	  color: lighten($cx-text-color, 20%);
	  font-size: 0.85rem;
	}
	:-ms-input-placeholder {
	  color: lighten($cx-text-color, 20%);
	  font-size: 0.85rem;
	}
	:-moz-placeholder {
	  color: lighten($cx-text-color, 20%);
	  font-size: 0.85rem;
	}
}


/* Search Widget */

.search-widget {
	form {
		width: 100%;
		overflow: hidden;
		input {
			display: table-cell;
			vertical-align: middle;
			margin-bottom: 0;
			height: 44px;
		}
		
		input[type="text"],
		input[type="search"] {
			float: left;
			width: 82%;
			border-right:0;
		}

		input[type="submit"] {
		    z-index: 9;
		    outline: 0;
		    width: 18%;
		    float: right;
		    height: 44px;
		    text-indent: -99999px;
		    line-height: 0;
		    background-image: url(../img/search.png);
		    background-repeat: no-repeat;
		    background-size: 22px;
		    background-position: center;
		    border-left: 0;
		    @include abs-position(0, 0, auto, auto);
		}
	}
}


/* Text Widget */

.text-widget {
	p {
		font-size: calculateRem(15px);
	}

	.contact-no {
		a {
			padding: 10px 20px;
			display: block;
			font-size: calculateRem(20px);
			letter-spacing: 0.5px;
			text-align: center;
			text-shadow: 0 1px 1px #111;
			@extend %bgc-primary;
			@extend %color-white;

			i {
				font-size: calculateRem(18px);
				margin-right: 15px;
				border: 1.2px solid lighten($cx-text-color, 100%);
				@include box(36px);
				@include border-radius(50%);
				@include cx-box-shadow('inset 0 0 30px ' + darken($cx-primary-color, 20%) );
				@extend %cx-transition;
			}


			&:hover {
				@extend %bgc-secondary;

				i {
					@include cx-box-shadow('inset 0 0 30px ' + darken($cx-secondary-color, 20%) );
				}
			}
		}
	}
}


/* Tab Widget */

.tab {
	&.widget-tab {

		.nav-tabs {
			border-bottom: 1px solid $cx-border-color;
			> li {
				margin-right: 4px;
				margin-left: 4px;
			    border: 1px solid $cx-border-color;
			    border-bottom-color: $cx-body-bg-color;
			    background: darken($cx-offset-color, 5%);
			    @extend %cx-transition;

			    @include media-only(small-mobile, max) {
			    	margin-left: 0;
			    	margin-right: 0;
			    	border-bottom-color: $cx-border-color;
			    }

				> a {
					position: relative;
					top: 1px;
					min-width: auto;
					border: 0;
					margin-right: 0;
					border-bottom: 1px solid $cx-border-color;
					color: $cx-text-color;
					font-weight: bold;
					font-size: calculateRem(14px);
				    @include media-only(small-mobile, max) {
				    	top: 0;
				    }
				}

				&:first-child {
					margin-left: 10px;
				    @include media-only(small-mobile, max) {
				    	margin-left: 0;
				    	margin-right: 0;
				    }
				}

				&.active {
					background: lighten($cx-text-color, 100%);
					a {
					    position: relative;
					    color: inherit;
					    border-color: $cx-body-bg-color;
					    background: none;
					    @include media-only(small-mobile, max) {
					    	top: 0;
					    }
					}
				}
			}
		}

		.img-thumb,
		.posts-single {
			border-color: $cx-border-color;
		}

		.post-brief {
			h3 {
			    font-size: 0.9rem;
				text-decoration: none;
			    font-weight: 600;
			}

			p {
				color: inherit;
				opacity: 0.8;
			}
		}
	}
}


/* Contact Box Widget */

.contact-box-widget {
	> a {
		display: block;
	    padding: 30px 25px;
	    text-align: center;
	    text-shadow: 0 1px 1px #111;
		@extend %bgc-primary;
	}

	h3 {
	    font-size: calculateRem(19px);
	    @extend %color-white;
	    @extend %mb0;
	}

	p {
		font-size: calculateRem(15px);
		@extend %color-white;
	}

	.icon-wrapper {
	    text-align: center;
	    margin: 0 auto;
	    padding: 20px;

		i {
		    font-size: 60px;
		    margin: 15px 0;
		    border-radius: 50%;
		    position: relative;
		    z-index: 1;
	        background: rgba(255,255,255,0.2);
	        @extend %cx-transition;
	        @extend %color-white;
	        @include box(90px);
	        @include border-radius(50%);

	        &::after {
			    width: 100%;
			    height: 100%;
			    padding: 8px;
			    opacity: 0;
			    @include border-radius(50%);
			    @include abs-position(-8px, auto, auto, -8px);
			    @include cx-box-shadow('0 0 0 5px #fff');
			    @include cx-prefix('transform', 'scale(0.8)');
			    @include cx-prefix('box-sizing', 'content-box');
			    @extend %cx-transition;
	        }
		}
	}

	&:hover {
		.icon-wrapper {
			i {
				@extend %bgc-white;
			    @extend %color-primary;

			    &::after {
				    opacity: 1;
				    @include cx-prefix('transform', 'scale(1)');
			    }
			}
		}
	}
}


/* Recent Posts Widget */

.posts-single {
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid lighten($cx-text-color, 5%);
	@include eqheight;
	.img-thumb {
		width: 80px;
	    padding: 3px;
	    border: 1px solid lighten($cx-text-color, 5%);
		img {
			width:100%;
			@include cx-prefix('backface-visibility', 'hidden');
			@extend %cx-transition;
		}

		a {
			display: block;
			width:100%;
			height:100%;
			overflow: hidden;
		}
	}

	& > div {
		@include respond-to(mobile) {
			display: table-cell;
		}
	}

	.post-brief {
		padding-left: 15px;
		a {
			color: $cx-text-color;
			&:hover,
			&:focus {
				color: $cx-secondary-color;
			}
		}

		h3 {
			margin-bottom: 3px;
		    font-weight: 500;
		    font-size: calculateRem(14px);
			@include cx-truncation(2, 1.5, #fff);

		    a {
		    	display: block;
		    }
		}

		p {
			margin-bottom: 0;
			font-style: italic;
			font-size: calculateRem(13px);
		}

		i {
			margin-right: 5px;
		}
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom:0;
	}

	&:hover {
		.img-thumb {
			img {
				@include cx-prefix('transform', 'scale(1.1)');
			}
		}
	}

}


/* Tag Cloud Widget */

.tags-widget {
	padding-bottom: ($cx-col-spacing - 10px);
	margin-bottom: -10px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			margin-right:5px;
			margin-bottom:10px;

			&:last-child {
				margin-right: 0;
			}

			a {
				font-size: calculateRem(14px);
				padding: 7px 12px;
				display: block;
				border: 1px solid $cx-border-color;
				color: $cx-text-color;
				@extend %bgc-offset;
				&:hover,
				&:focus {
					color: lighten($cx-text-color, 100%);
					background: $cx-link-hover-color;
					border-color: $cx-link-hover-color;
					@include cx-box-shadow;
				}
			}
		}
	}
}


/* Category and Archive Widgets */

.archives-widget,
.category-widget {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			a {
				color: $cx-text-color;
				display: block;
				padding: 8px 0 8px 20px;
				font-size: calculateRem(15px);
				border-bottom: 1px solid lighten($cx-border-color, 5%);
				position: relative;
				span {
					float: right;
				}
				&::before {
				    content: "\f105";
				    font-family: 'FontAwesome';
				    position: absolute;
				    left: 0;
				    width: 20px;
				}
				&:hover {
					color: $cx-link-hover-color;
				}
			}

			&:last-child {
				a {
					border-bottom: 0;
				}
			}
		}
	}
}


/* Instagram Widget */

.instagram-widget {
	@extend %clearfix;
	.image-popup {
		figure {
			a {
			    position: relative;
			    display: block;
			    float: left;
			    width: 32%;
			    margin-right: 2%;
			    margin-bottom: 2%;
			    @include respond-to(mobile) {
			    	max-width: 175px;
			    }
			    @include media-only(small-mobile, max) {
			    	
			    }
				img {
					width: 100%;
					height: auto;
				}

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					height: 0;
					width: 100%;
					background: rgba(darken($cx-secondary-color, 10%), 0.7);
				    @extend %cx-transition;
				}	

				&:hover {
					&::before {
						height: 100%;
						top: 0;
					}
				}	
			}

			&:nth-of-type(3n) {
				a {
					margin-right: 0;
				}
			}
		}
	}
}


/* Testimonial Widget */

.testimonial-widget {
	.testimonial-content {
	    background: darken($cx-offset-color, 3%);
	    padding: 20px;
	    font-style: italic;
	    position: relative;

		&::before {
		    width: 0;
		    height: 0;
		    border-left: 12px solid transparent;
		    border-right: 12px solid transparent;
		    border-top: 12px solid darken($cx-offset-color, 3%);
		    margin-bottom: -12px;
		    @include abs-position(auto, auto, 0, 17px);
		}

		p {
			font-size: calculateRem(15px);
		}
	}

	.client-meta {
		position: relative;
		margin-top: 20px;
		@include eqheight;

		.client-avatar {
			width: 80px;
			img {
				@include box(60px);
				@include border-radius(50%);
			}
		}

		.client-name {
			h3 {
				font-size: calculateRem(15px);
				@extend %mb0;
			}
			p {
				font-style: italic;
				font-size: calculateRem(14px);
			}
		}
		@include respond-to(mobile) {
			display: table;
			width: 100%;

			.client-avatar,
			.client-name {
				display: table-cell;
			}
		}
	}
}


/* Contact Widget */

.widget-form-wrapper {
	input,
	textarea {
		@extend %mb0;
	}

	textarea {
		min-height: 120px;
	}

	form {
		> .form-group {
			&:last-of-type {
				margin-bottom: 9px;
			}
		}
	}
}