/**
 * Components Flip-card
 *
 */

.flip-card {
    min-height: 425px;

    .front,
    .back {
    	position: relative;
    }

	.flip-img {
		width: 100%;
	}

	&.info-item {
		min-height: auto;
		height: 280px;
		.front,
		.back {
			min-height: 280px;
			height: 280px;
		}
	}
}